@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333333;
}

ul, ol {
  list-style: none;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #333333;
}

a.new {
  position: relative;
}

a.new span.new {
  line-height: 10px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  color: #7f0019;
}

.section-content h4, .slide-track h4, .service-group h4 {
  position: relative;
  font-size: 26px;
  margin-bottom: 24px;
}

.section-content h4 a:after, .slide-track h4 a:after, .service-group h4 a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../img/icon_more.svg");
  background-repeat: no-repeat;
}

.announe.eighth h4 {
  position: relative;
  font-size: 26px;
  margin-bottom: 24px;
}

.announe.eighth h4 a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../img/icon_plus.svg");
  background-repeat: no-repeat;
}

a.footer-btn {
  display: inline-block;
  border: 1px solid #e1e1e1;
  background: white;
  padding: 0 8px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
}

:root {
  --swiper-theme-color: black;
}

.swiper.first .swiper-button-next, .swiper.first .swiper-button-prev {
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.6);
}

.swiper.first .swiper-button-next:after, .swiper.first .swiper-button-prev:after {
  color: black;
  font-size: 30px;
}

.swiper.first .swiper-button-prev {
  left: 0;
}

.swiper.first .swiper-button-next {
  right: 0;
}

.swiper.first .swiper-horizontal > .swiper-pagination-bullets, .swiper.first .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper.first .swiper-pagination-custom, .swiper.first .swiper-pagination-fraction {
  bottom: 0;
}

.swiper.first .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper.first .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}

.slide-track.third .swiper-button-next, .slide-track.third .swiper-button-prev {
  width: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 50%;
}

.slide-track.third .swiper-button-next:after, .slide-track.third .swiper-button-prev:after {
  color: black;
  font-size: 15px;
}

.slide-track.third .swiper-button-prev {
  left: 20px;
  top: 120px;
  transform: translateY(-50%);
}

.slide-track.third .swiper-button-next {
  right: 20px;
  top: 120px;
  transform: translateY(-50%);
}

.slide-track.third .swiper-button-next.swiper-button-disabled, .slide-track.third .swiper-button-prev.swiper-button-disabled {
  pointer-events: auto;
}

.slide-track.fifth .swiper-button-next, .slide-track.fifth .swiper-button-prev {
  width: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 50%;
}

.slide-track.fifth .swiper-button-next:after, .slide-track.fifth .swiper-button-prev:after {
  color: black;
  font-size: 15px;
}

.slide-track.fifth .swiper-button-prev {
  left: 20px;
  top: 130px;
  transform: translateY(-50%);
}

.slide-track.fifth .swiper-button-next {
  right: 20px;
  top: 130px;
  transform: translateY(-50%);
}

.slide-track.fifth .swiper-button-next.swiper-button-disabled, .slide-track.fifth .swiper-button-prev.swiper-button-disabled {
  pointer-events: auto;
}

.slide-track.sixth .swiper-button-next, .slide-track.sixth .swiper-button-prev {
  width: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 50%;
}

.slide-track.sixth .swiper-button-next:after, .slide-track.sixth .swiper-button-prev:after {
  color: black;
  font-size: 15px;
}

.slide-track.sixth .swiper-button-prev {
  left: 20px;
  top: 120px;
  transform: translateY(-50%);
}

.slide-track.sixth .swiper-button-next {
  right: 20px;
  top: 120px;
  transform: translateY(-50%);
}

.slide-track.sixth .swiper-button-next.swiper-button-disabled, .slide-track.sixth .swiper-button-prev.swiper-button-disabled {
  pointer-events: auto;
}

.slide-track.nineth .swiper-button-next, .slide-track.nineth .swiper-button-prev {
  width: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 50%;
}

.slide-track.nineth .swiper-button-next:after, .slide-track.nineth .swiper-button-prev:after {
  color: black;
  font-size: 15px;
}

.slide-track.nineth .swiper-button-prev {
  left: 20px;
  top: 130px;
  transform: translateY(-50%);
}

.slide-track.nineth .swiper-button-next {
  right: 20px;
  top: 130px;
  transform: translateY(-50%);
}

.slide-track.nineth .swiper-button-next.swiper-button-disabled, .slide-track.nineth .swiper-button-prev.swiper-button-disabled {
  pointer-events: auto;
}

.slide-track.tenth .swiper-button-next, .slide-track.tenth .swiper-button-prev {
  width: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 50%;
}

.slide-track.tenth .swiper-button-next:after, .slide-track.tenth .swiper-button-prev:after {
  color: black;
  font-size: 15px;
}

.slide-track.tenth .swiper-button-prev {
  left: 20px;
  top: 120px;
  transform: translateY(-50%);
}

.slide-track.tenth .swiper-button-next {
  right: 20px;
  top: 120px;
  transform: translateY(-50%);
}

.slide-track.tenth .swiper-button-next.swiper-button-disabled, .slide-track.tenth .swiper-button-prev.swiper-button-disabled {
  pointer-events: auto;
}

.slide-track.eleventh .swiper-button-next, .slide-track.eleventh .swiper-button-prev {
  width: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 50%;
}

.slide-track.eleventh .swiper-button-next:after, .slide-track.eleventh .swiper-button-prev:after {
  color: black;
  font-size: 15px;
}

.slide-track.eleventh .swiper-button-prev {
  left: 20px;
  top: 120px;
  transform: translateY(-50%);
}

.slide-track.eleventh .swiper-button-next {
  right: 20px;
  top: 120px;
  transform: translateY(-50%);
}

.slide-track.eleventh .swiper-button-next.swiper-button-disabled, .slide-track.eleventh .swiper-button-prev.swiper-button-disabled {
  pointer-events: auto;
}

#top-banner {
  position: relative;
  width: 100%;
  height: 60px;
  background: #f2f2f2;
  margin: 0 auto;
}

#top-banner .advertise {
  height: 60px;
  background: url("../img/top-banner/top-advertise.png");
  background-repeat: no-repeat;
  background-position: center;
}

#top-banner .close-btn {
  position: absolute;
  right: 50px;
  top: 15px;
  width: 30px;
  height: 30px;
  background: url("../img/top-banner/close-btn.png");
  background-size: cover;
  cursor: pointer;
}

.wrap {
  width: 1060px;
  margin: 0 auto;
}

#header {
  width: 100%;
  height: 120px;
  padding: 40px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #e1e1e1;
}

#header .header-top {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  grid-template-rows: minmax(40px, auto) 1fr;
  justify-content: space-between;
}

#header .header-top .logo {
  height: 40px;
  grid-column-start: 1;
  cursor: pointer;
}

#header .header-top .search-box {
  position: relative;
  grid-column-start: 2;
  width: 570px;
  height: 40px;
  padding-left: 65px;
}

#header .header-top .search-box input {
  font-size: 14px;
  width: 570px;
  height: 40px;
  padding: 0 40px 0 18px;
  border: 2px solid rgba(112, 112, 112, 0.36);
  border-radius: 4px;
  box-sizing: border-box;
}

#header .header-top .search-box .search-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: url("../img/header/icon_search.svg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

#header .header-top .search-box .guide-banner {
  display: none;
  position: absolute;
  width: 570px;
  padding: 0 30px;
  background-color: white;
  box-sizing: border-box;
  z-index: 5;
}

#header .header-top .search-box .guide-banner .top {
  width: 100%;
  display: flex;
}

#header .header-top .search-box .guide-banner .top a {
  display: block;
  padding: 12px 0;
  width: 50%;
  height: 43.2px;
  text-align: center;
  font-size: 13px;
  border-bottom: 1px solid #e1e1e1;
  color: #8c8c8c;
  box-sizing: border-box;
}

#header .header-top .search-box .guide-banner .top a.on {
  color: black;
  border-bottom: 1px solid black;
}

#header .header-top .search-box .guide-banner .popular-search {
  padding-top: 20px;
  text-align: center;
  display: none;
}

#header .header-top .search-box .guide-banner .popular-search .popular-box {
  margin-top: 35px;
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("../img/sch_empty_bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#header .header-top .search-box .guide-banner .popular-search .popular-text {
  font-size: 13px;
  padding: 5px 0 20px;
}

#header .header-top .search-box .guide-banner .latest-search {
  display: block;
}

#header .header-top .search-box .guide-banner .latest-search ul {
  padding: 20px 0;
}

#header .header-top .search-box .guide-banner .latest-search ul li {
  font-size: 13px;
  margin-bottom: 10px;
  cursor: pointer;
}

#header .header-top .search-box .guide-banner .guide-footer {
  display: block;
  padding-bottom: 20px;
  overflow: hidden;
}

#header .header-top .search-box .guide-banner .guide-footer .guide-footer-left {
  display: none;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  float: left;
}

#header .header-top .search-box .guide-banner .guide-footer .guide-footer-right {
  float: right;
}

#header .header-top .search-box .guide-banner .guide-footer .guide-footer-right span {
  color: #8c8c8c;
  font-size: 13px;
  cursor: pointer;
}

#header .header-top .search-box .guide-banner .guide-footer .guide-footer-right span:first-child {
  display: none;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 2px solid #ededed;
}

#header .header-top .link-items {
  grid-column-start: 6;
}

#header .header-top .link-items ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#header .header-top .link-items ul li {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: cover;
  cursor: pointer;
}

#header .header-top .link-items ul li:nth-child(1) {
  background: url("../img/header/icon_login.svg");
}

#header .header-top .link-items ul li:nth-child(2) {
  background: url("../img/header/icon_user.svg");
}

#header .header-top .link-items ul li:nth-child(3) {
  background: url("../img/header/icon_cart.svg");
}

#nav {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e1e1e1;
  box-sizing: border-box;
}

#nav .nav-top ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav .nav-top ul li {
  margin: 0 30px;
}

#nav .nav-top ul li a {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
}

#nav .nav-top ul li a:hover {
  border-bottom: 3px solid #333333;
}

#footer {
  background-color: #f2f2f2;
  border-top: 1px solid #e1e1e1;
}

#footer #footer-top {
  border-bottom: 1px solid #e1e1e1;
  height: 60px;
}

#footer #footer-top .wrap {
  display: flex;
  height: 100%;
}

#footer #footer-top .wrap ul {
  height: 100%;
  display: flex;
  flex-basis: 85%;
  align-items: center;
}

#footer #footer-top .wrap ul li {
  display: inline-block;
  margin-right: 50px;
}

#footer #footer-top .wrap ul li a {
  font-size: 13px;
  font-weight: bold;
}

#footer #footer-top .wrap .global-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 15%;
}

#footer #footer-top .wrap .global-box a {
  display: block;
  width: 86px;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  border: 1px solid #e1e1e1;
  padding: 0 12px;
  background-color: #fff;
}

#footer .wrap #footer-body .inner {
  padding: 30px 0 50px;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  grid-template-rows: minmax(40px, auto) 1fr;
  justify-content: space-between;
}

#footer .wrap #footer-body .inner .logo-area {
  grid-column: 1/2;
  background: url("../img/footer-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#footer .wrap #footer-body .inner .content-area {
  grid-column: 2/7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#footer .wrap #footer-body .inner .content-area ul {
  flex-basis: 100%;
  margin-bottom: 30px;
}

#footer .wrap #footer-body .inner .content-area ul li {
  display: inline-block;
  font-size: 13px;
  margin-right: 20px;
}

#footer .wrap #footer-body .inner .content-area .col.left {
  flex-basis: 55%;
  border-right: 1px solid #e1e1e1;
}

#footer .wrap #footer-body .inner .content-area .col.left .company-info {
  color: #8c8c8c;
  font-size: 13px;
}

#footer .wrap #footer-body .inner .content-area .col.left .customer-center {
  margin-top: 20px;
}

#footer .wrap #footer-body .inner .content-area .col.left .customer-center button, #footer .wrap #footer-body .inner .content-area .col.left .customer-center a, #footer .wrap #footer-body .inner .content-area .col.left .customer-center p {
  font-size: 13px;
}

#footer .wrap #footer-body .inner .content-area .col.left .customer-center button {
  border: 0;
  background-color: transparent;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

#footer .wrap #footer-body .inner .content-area .col.left .customer-center a:nth-of-type(1) {
  margin: 0 10px;
}

#footer .wrap #footer-body .inner .content-area .col.left .customer-center a:nth-of-type(2) {
  font-size: 12px;
}

#footer .wrap #footer-body .inner .content-area .col.left .customer-center p {
  color: #8c8c8c;
}

#footer .wrap #footer-body .inner .content-area .col.right {
  flex-basis: 40%;
}

#footer .wrap #footer-body .inner .content-area .col.right span, #footer .wrap #footer-body .inner .content-area .col.right p {
  font-size: 13px;
}

#footer .wrap #footer-body .inner .content-area .col.right span:nth-of-type(1) {
  display: block;
  width: 100%;
}

#footer .wrap #footer-body .inner .content-area .col.right span:nth-of-type(1) button {
  margin-left: 8px;
  font-size: 12px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
  border: 1px solid #e1e1e1;
  padding: 0 8px;
  height: 24px;
  line-height: 24px;
  background-color: white;
  cursor: pointer;
}

#footer .wrap #footer-body .inner .content-area .col.right a {
  margin-top: 6px;
}

#footer .wrap #footer-body .inner .content-area .col.right p {
  margin-top: 16px;
  color: #8c8c8c;
}

#footer .wrap #footer-body .inner .content-area .copyright {
  margin-top: 16px;
  font-size: 13px;
  font-weight: 300;
  color: black;
}

#container {
  padding-top: 20px;
}

#container .grid-wrap {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  grid-template-rows: minmax(40px, auto) 1fr;
  justify-content: space-between;
}

#container .grid-wrap #lnb {
  grid-column-start: 1;
}

#container .grid-wrap #lnb ul {
  padding-bottom: 30px;
  border-bottom: 1px solid #e1e1e1;
}

#container .grid-wrap #lnb ul:not(:first-child) {
  padding-top: 30px;
}

#container .grid-wrap #lnb ul:last-child {
  border-bottom: 0;
}

#container .grid-wrap #lnb ul li {
  position: relative;
  margin-bottom: 14px;
  width: 100%;
  height: 100%;
}

#container .grid-wrap #lnb ul li:last-child {
  margin-bottom: 0;
}

#container .grid-wrap #lnb ul li h2 {
  line-height: 21.6px;
  height: 21.6px;
  font-size: 15px;
}

#container .grid-wrap #lnb ul li:not(:first-child) {
  line-height: 18.2px;
  height: 18.2px;
}

#container .grid-wrap #lnb ul li:not(:first-child) a {
  font-size: 13px;
}

#container .grid-wrap #lnb ul li .sub-panel {
  display: none;
  position: absolute;
  top: -30px;
  left: 100%;
  width: 240px;
  padding: 26px;
  box-sizing: border-box;
  z-index: 5;
  background-color: white;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.24);
}

#container .grid-wrap #lnb ul li .sub-panel:after {
  position: absolute;
  display: block;
  content: '';
  left: -8px;
  top: 36px;
  border-style: solid;
  border-width: 6px 8px 6px 0;
  border-color: transparent #fff;
  width: 0;
  z-index: 5;
}

#container .grid-wrap #lnb ul li .sub-panel ul {
  padding-bottom: 0;
  border: 0;
  overflow: hidden;
}

#container .grid-wrap #lnb ul li .sub-panel ul li {
  float: left;
  margin-bottom: 10px;
}

#container .grid-wrap #lnb ul li .sub-panel ul li:last-child {
  margin-bottom: 0;
}

#container .grid-wrap #lnb ul li .sub-panel ul li h2 {
  font-size: 14px;
}

#container .grid-wrap #lnb ul li .sub-panel ul li a {
  font-size: 12px;
}

#container .grid-wrap #lnb ul li .sub-panel .image-area {
  margin-top: 60px;
  padding-top: 0;
  height: 210px;
}

#container .grid-wrap #lnb ul li .sub-panel .image-area li {
  height: auto;
}

#container .grid-wrap #lnb ul li .sub-panel .image-area li h2 {
  display: inline-block;
}

#container .grid-wrap #lnb ul li .sub-panel .image-area li a .img-place {
  width: 180px;
  height: 180px;
  background-size: contain;
  background-repeat: no-repeat;
}

#container .grid-wrap #lnb ul li .sub-panel .image-area li a .img-place.sub-panel-2 {
  background-image: url("../img/lnb hover/sub-panel-2.jpg");
}

#container .grid-wrap #lnb ul li .sub-panel .image-area li a .img-place.sub-panel-3 {
  background-image: url("../img/lnb hover/sub-panel-3.jpg");
}

#container .grid-wrap #lnb ul li .sub-panel .image-area li a .img-place.sub-panel-4 {
  background-image: url("../img/lnb hover/sub-panel-4.jpg");
}

#container .grid-wrap #lnb ul li .sub-panel .image-area li a .img-place.sub-panel-5 {
  background-image: url("../img/lnb hover/sub-panel-5.jpg");
}

#container .grid-wrap #lnb ul li .sub-panel .image-area li a .img-place.sub-panel-6 {
  background-image: url("../img/lnb hover/sub-panel-6.jpg");
}

#container .grid-wrap #lnb ul li .sub-panel .image-area li a .img-place.sub-panel-7 {
  background-image: url("../img/lnb hover/sub-panel-7.jpg");
}

#container .grid-wrap #lnb ul li .sub-panel .image-area li a .img-place.sub-panel-8 {
  background-image: url("../img/lnb hover/sub-panel-8.jpg");
}

#container .grid-wrap #lnb ul li .sub-panel .image-area li a .img-place.sub-panel-9 {
  background-image: url("../img/lnb hover/sub-panel-9.jpg");
}

#container .grid-wrap #lnb ul li .sub-panel .image-area li a .img-place.sub-panel-10 {
  background-image: url("../img/lnb hover/sub-panel-10.jpg");
}

#container .grid-wrap #lnb ul li .sub-panel .image-area li a .img-place.sub-panel-11 {
  background-image: url("../img/lnb hover/sub-panel-11.jpg");
}

#container .grid-wrap #lnb ul li .sub-panel .image-area li a .img-place.sub-panel-12 {
  background-image: url("../img/lnb hover/sub-panel-12.jpg");
}

#container .grid-wrap #lnb ul li .sub-panel .image-area li a .img-place.sub-panel-13 {
  background-image: url("../img/lnb hover/sub-panel-13.jpg");
}

#container .grid-wrap #lnb ul li:hover .sub-panel {
  display: block;
}

#container .grid-wrap #main {
  grid-column: 2/7;
}

#container .grid-wrap #main .notice-wrap {
  background: #f2f2f2;
  display: flex;
  padding: 16px 20px;
  margin-bottom: 12px;
}

#container .grid-wrap #main .notice-wrap .left {
  width: 70px;
  font-size: 13px;
  font-weight: bold;
}

#container .grid-wrap #main .notice-wrap .right {
  width: calc(100% - 70px);
  font-size: 13px;
}

#container .grid-wrap #main .notice-wrap .right p {
  height: 15.6px;
  line-height: 15.6px;
  margin-bottom: 6px;
  overflow: hidden;
}

#container .grid-wrap #main .notice-wrap .right p:last-child {
  margin-bottom: 0;
}

#container .grid-wrap #main .notice-wrap .right p span {
  float: right;
}

#container .grid-wrap #main .swiper.first {
  width: 100%;
  height: 580px;
  margin-bottom: 80px;
  padding-bottom: 32px;
}

#container .grid-wrap #main .swiper.first .swiper-wrapper .slide1 {
  background: url("../img/slide-track first/slide1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#container .grid-wrap #main .swiper.first .swiper-wrapper .slide2 {
  background: url("../img/slide-track first/slide2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#container .grid-wrap #main .swiper.first .swiper-wrapper .slide3 {
  background: url("../img/slide-track first/slide3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#container .grid-wrap #main .swiper.first .swiper-wrapper .slide4 {
  background: url("../img/slide-track first/slide4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#container .grid-wrap #main .swiper.first .swiper-wrapper .slide5 {
  background: url("../img/slide-track first/slide5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#container .grid-wrap #main .swiper.first .swiper-wrapper .slide6 {
  background: url("../img/slide-track first/slide6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#container .grid-wrap #main .swiper.first .swiper-wrapper .slide7 {
  background: url("../img/slide-track first/slide7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#container .grid-wrap #main .swiper.first .swiper-wrapper .slide8 {
  background: url("../img/slide-track first/slide8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#container .grid-wrap #main .swiper.first .swiper-wrapper .slide9 {
  background: url("../img/slide-track first/slide9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#container .grid-wrap #main .section-content.second {
  margin-bottom: 50px;
}

#container .grid-wrap #main .section-content.second ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#container .grid-wrap #main .section-content.second ul li {
  width: 270px;
  height: 252px;
  margin-bottom: 30px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  box-sizing: border-box;
}

#container .grid-wrap #main .section-content.second ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

#container .grid-wrap #main .section-content.second ul li a .item-text {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc( 100% - 180px);
  font-size: 13px;
  padding: 18px 20px;
  box-sizing: border-box;
}

#container .grid-wrap #main .section-content.second ul li:nth-child(1) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/section-content second/li1.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .section-content.second ul li:nth-child(2) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/section-content second/li2.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .section-content.second ul li:nth-child(3) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/section-content second/li3.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .section-content.second ul li:nth-child(4) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/section-content second/li4.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .section-content.second ul li:nth-child(5) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/section-content second/li5.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .section-content.second ul li:nth-child(6) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/section-content second/li6.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.third {
  margin-bottom: 80px;
}

#container .grid-wrap #main .slide-track.third .swiper {
  height: 275.8px;
}

#container .grid-wrap #main .slide-track.third .swiper .swiper-wrapper .swiper-slide {
  position: relative;
}

#container .grid-wrap #main .slide-track.third .swiper .swiper-wrapper .swiper-slide:nth-child(1) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track third/slide1.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.third .swiper .swiper-wrapper .swiper-slide:nth-child(2) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track third/slide2.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.third .swiper .swiper-wrapper .swiper-slide:nth-child(3) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track third/slide3.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.third .swiper .swiper-wrapper .swiper-slide:nth-child(4) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track third/slide4.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.third .swiper .swiper-wrapper .swiper-slide:nth-child(5) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track third/slide5.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.third .swiper .swiper-wrapper .swiper-slide:nth-child(6) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track third/slide6.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.third .swiper .swiper-wrapper .swiper-slide:nth-child(7) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track third/slide7.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.third .swiper .swiper-wrapper .swiper-slide:nth-child(8) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track third/slide8.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.third .swiper .swiper-wrapper .swiper-slide:nth-child(9) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track third/slide9.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.third .swiper .swiper-wrapper .swiper-slide:nth-child(10) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track third/slide10.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.third .swiper .swiper-wrapper .swiper-slide a .slide-text {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 100%;
  font-size: 13px;
  text-align: center;
  margin: 20px 0 8px;
}

#container .grid-wrap #main .slide-track.third .swiper .swiper-wrapper .swiper-slide a .slide-price {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #7f0019;
  text-align: center;
}

#container .grid-wrap #main .slide-track.third .swiper .swiper-wrapper .swiper-slide a .slide-price .small {
  font-size: 14px;
}

#container .grid-wrap #main .section-content.fourth {
  margin-bottom: 50px;
}

#container .grid-wrap #main .section-content.fourth ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#container .grid-wrap #main .section-content.fourth ul li {
  width: 270px;
  height: 252px;
  margin-bottom: 30px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  box-sizing: border-box;
}

#container .grid-wrap #main .section-content.fourth ul li:nth-child(2) a .item-img {
  border-bottom: 1px solid #e1e1e1;
}

#container .grid-wrap #main .section-content.fourth ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

#container .grid-wrap #main .section-content.fourth ul li a .item-text {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc( 100% - 180px);
  font-size: 13px;
  padding: 18px 20px;
  box-sizing: border-box;
}

#container .grid-wrap #main .section-content.fourth ul li:nth-child(1) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/section-content fourth/li1.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .section-content.fourth ul li:nth-child(2) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/section-content fourth/li2.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .section-content.fourth ul li:nth-child(3) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/section-content fourth/li3.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .section-content.fourth ul li:nth-child(4) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/section-content fourth/li4.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .section-content.fourth ul li:nth-child(5) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/section-content fourth/li5.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .section-content.fourth ul li:nth-child(6) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/section-content fourth/li6.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.fifth {
  margin-bottom: 80px;
}

#container .grid-wrap #main .slide-track.fifth .swiper {
  height: 300px;
}

#container .grid-wrap #main .slide-track.fifth .swiper .swiper-wrapper .swiper-slide {
  position: relative;
}

#container .grid-wrap #main .slide-track.fifth .swiper .swiper-wrapper .swiper-slide:nth-child(1) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track fifth/slide1.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.fifth .swiper .swiper-wrapper .swiper-slide:nth-child(2) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track fifth/slide2.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.fifth .swiper .swiper-wrapper .swiper-slide:nth-child(3) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track fifth/slide3.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.fifth .swiper .swiper-wrapper .swiper-slide:nth-child(4) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track fifth/slide4.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.fifth .swiper .swiper-wrapper .swiper-slide:nth-child(5) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track fifth/slide5.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.fifth .swiper .swiper-wrapper .swiper-slide:nth-child(6) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track fifth/slide6.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.fifth .swiper .swiper-wrapper .swiper-slide:nth-child(7) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track fifth/slide7.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.fifth .swiper .swiper-wrapper .swiper-slide:nth-child(8) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track fifth/slide8.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.fifth .swiper .swiper-wrapper .swiper-slide:nth-child(9) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track fifth/slide9.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.fifth .swiper .swiper-wrapper .swiper-slide:nth-child(10) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track fifth/slide10.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.fifth .swiper .swiper-wrapper .swiper-slide a .slide-text {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  margin: 10px 0 10px;
}

#container .grid-wrap #main .slide-track.fifth .swiper .swiper-wrapper .swiper-slide a .slide-explain {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  text-align: left;
}

#container .grid-wrap #main .slide-track.sixth {
  margin-bottom: 80px;
}

#container .grid-wrap #main .slide-track.sixth .swiper {
  height: 265px;
}

#container .grid-wrap #main .slide-track.sixth .swiper .swiper-wrapper .swiper-slide {
  position: relative;
}

#container .grid-wrap #main .slide-track.sixth .swiper .swiper-wrapper .swiper-slide:nth-child(1) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track sixth/slide1.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.sixth .swiper .swiper-wrapper .swiper-slide:nth-child(2) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track sixth/slide2.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.sixth .swiper .swiper-wrapper .swiper-slide:nth-child(3) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track sixth/slide3.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.sixth .swiper .swiper-wrapper .swiper-slide:nth-child(4) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track sixth/slide4.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.sixth .swiper .swiper-wrapper .swiper-slide:nth-child(5) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track sixth/slide5.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.sixth .swiper .swiper-wrapper .swiper-slide:nth-child(6) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track sixth/slide6.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.sixth .swiper .swiper-wrapper .swiper-slide:nth-child(7) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track sixth/slide7.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.sixth .swiper .swiper-wrapper .swiper-slide:nth-child(8) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track sixth/slide8.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.sixth .swiper .swiper-wrapper .swiper-slide:nth-child(9) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track sixth/slide9.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.sixth .swiper .swiper-wrapper .swiper-slide:nth-child(10) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track sixth/slide10.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.sixth .swiper .swiper-wrapper .swiper-slide a .slide-text {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  margin: 10px 0 10px;
}

#container .grid-wrap #main .service-group.seventh {
  margin-bottom: 80px;
}

#container .grid-wrap #main .service-group.seventh ul {
  width: 100%;
  height: 300px;
  border: 1px solid #e1e1e1;
  padding: 20px 0;
  overflow: hidden;
}

#container .grid-wrap #main .service-group.seventh ul li {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 150px;
  padding: 15px 0;
  float: left;
  box-sizing: border-box;
}

#container .grid-wrap #main .service-group.seventh ul li:nth-child(1) a {
  display: block;
  width: 120px;
  height: 120px;
  background: url("../img/service-group seventh/li1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#container .grid-wrap #main .service-group.seventh ul li:nth-child(2) a {
  display: block;
  width: 120px;
  height: 120px;
  background: url("../img/service-group seventh/li2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#container .grid-wrap #main .service-group.seventh ul li:nth-child(3) a {
  display: block;
  width: 120px;
  height: 120px;
  background: url("../img/service-group seventh/li3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#container .grid-wrap #main .service-group.seventh ul li:nth-child(4) a {
  display: block;
  width: 120px;
  height: 120px;
  background: url("../img/service-group seventh/li4.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#container .grid-wrap #main .service-group.seventh ul li:nth-child(5) a {
  display: block;
  width: 120px;
  height: 120px;
  background: url("../img/service-group seventh/li5.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#container .grid-wrap #main .service-group.seventh ul li:nth-child(6) a {
  display: block;
  width: 120px;
  height: 120px;
  background: url("../img/service-group seventh/li6.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#container .grid-wrap #main .service-group.seventh ul li:nth-child(7) a {
  display: block;
  width: 120px;
  height: 120px;
  background: url("../img/service-group seventh/li7.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#container .grid-wrap #main .announe.eighth {
  margin-bottom: 80px;
}

#container .grid-wrap #main .announe.eighth ul {
  border-top: 1px solid black;
  padding-top: 20px;
}

#container .grid-wrap #main .announe.eighth ul li {
  overflow: hidden;
  padding-bottom: 16px;
}

#container .grid-wrap #main .announe.eighth ul li a {
  float: left;
  display: inline-block;
  font-size: 13px;
}

#container .grid-wrap #main .announe.eighth ul li .date {
  float: right;
  display: inline-block;
  font-size: 13px;
  color: #8c8c8c;
}

#container .grid-wrap #main .mail-magazine {
  margin-bottom: 80px;
  overflow: hidden;
}

#container .grid-wrap #main .mail-magazine .left-area {
  float: left;
  width: 370px;
}

#container .grid-wrap #main .mail-magazine .left-area .logo {
  width: 100%;
}

#container .grid-wrap #main .mail-magazine .left-area .logo .logo-img {
  height: 40px;
  background: url("../img/header/muji_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

#container .grid-wrap #main .mail-magazine .left-area .magazine-box {
  margin-top: 18px;
  font-size: 20px;
}

#container .grid-wrap #main .mail-magazine .left-area .magazine-box span {
  display: block;
  font-size: 13px;
  color: #8c8c8c;
}

#container .grid-wrap #main .mail-magazine .left-area .magazine-box a {
  margin-top: 10px;
  font-size: 13px;
  font-weight: bold;
}

#container .grid-wrap #main .mail-magazine .right-area {
  float: left;
  width: calc( 100% - 370px);
  height: 193px;
}

#container .grid-wrap #main .mail-magazine .right-area ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

#container .grid-wrap #main .mail-magazine .right-area ul li {
  width: 50%;
  height: 50%;
  padding: 10px;
  box-sizing: border-box;
}

#container .grid-wrap #main .mail-magazine .right-area ul li:nth-child(1) a {
  background: url("../img/mail-magazine/muji_catalog.jpg");
  background-size: cover;
}

#container .grid-wrap #main .mail-magazine .right-area ul li:nth-child(2) a {
  background: url("../img/mail-magazine/muji_passport.jpg");
  background-size: cover;
}

#container .grid-wrap #main .mail-magazine .right-area ul li:nth-child(3) a {
  background: url("../img/mail-magazine/muji_insta.jpg");
  background-size: cover;
}

#container .grid-wrap #main .mail-magazine .right-area ul li:nth-child(4) a {
  background: url("../img/mail-magazine/muji_blog.jpg");
  background-size: cover;
}

#container .grid-wrap #main .mail-magazine .right-area ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

#container .grid-wrap #main .section-a-tag {
  margin-bottom: 80px;
  display: block;
  height: 310px;
  background: url("../img/section-a-tag.jpg");
  background-size: cover;
  border-radius: 5px;
}

#container .grid-wrap #main .slide-track.nineth {
  margin-bottom: 80px;
}

#container .grid-wrap #main .slide-track.nineth .swiper {
  height: 300px;
}

#container .grid-wrap #main .slide-track.nineth .swiper .swiper-wrapper .swiper-slide {
  position: relative;
}

#container .grid-wrap #main .slide-track.nineth .swiper .swiper-wrapper .swiper-slide:nth-child(1) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track nineth/slide1.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.nineth .swiper .swiper-wrapper .swiper-slide:nth-child(2) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track nineth/slide2.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.nineth .swiper .swiper-wrapper .swiper-slide:nth-child(3) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track nineth/slide3.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.nineth .swiper .swiper-wrapper .swiper-slide:nth-child(4) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track nineth/slide4.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.nineth .swiper .swiper-wrapper .swiper-slide:nth-child(5) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track nineth/slide5.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.nineth .swiper .swiper-wrapper .swiper-slide:nth-child(6) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track nineth/slide6.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.nineth .swiper .swiper-wrapper .swiper-slide:nth-child(7) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track nineth/slide7.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.nineth .swiper .swiper-wrapper .swiper-slide:nth-child(8) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track nineth/slide8.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.nineth .swiper .swiper-wrapper .swiper-slide:nth-child(9) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track nineth/slide9.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.nineth .swiper .swiper-wrapper .swiper-slide:nth-child(10) a .slide-img {
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/slide-track nineth/slide10.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.nineth .swiper .swiper-wrapper .swiper-slide a .slide-text {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  margin: 10px 0 10px;
}

#container .grid-wrap #main .slide-track.nineth .swiper .swiper-wrapper .swiper-slide a .slide-explain {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  text-align: left;
}

#container .grid-wrap #main .slide-track.tenth {
  margin-bottom: 50px;
}

#container .grid-wrap #main .slide-track.tenth .swiper-slide {
  width: 270px;
  height: 252px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  box-sizing: border-box;
}

#container .grid-wrap #main .slide-track.tenth .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}

#container .grid-wrap #main .slide-track.tenth .swiper-slide a .item-text {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc( 100% - 180px);
  font-size: 13px;
  padding: 18px 20px;
  box-sizing: border-box;
}

#container .grid-wrap #main .slide-track.tenth .swiper-slide:nth-child(1) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/slide-track tenth/slide1.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.tenth .swiper-slide:nth-child(2) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/slide-track tenth/slide2.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.tenth .swiper-slide:nth-child(3) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/slide-track tenth/slide3.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.tenth .swiper-slide:nth-child(4) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/slide-track tenth/slide4.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.tenth .swiper-slide:nth-child(5) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/slide-track tenth/slide5.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.tenth .swiper-slide:nth-child(6) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/slide-track tenth/slide6.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.eleventh {
  margin-bottom: 50px;
}

#container .grid-wrap #main .slide-track.eleventh .swiper-slide {
  width: 270px;
  height: 252px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  box-sizing: border-box;
}

#container .grid-wrap #main .slide-track.eleventh .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}

#container .grid-wrap #main .slide-track.eleventh .swiper-slide a .item-text {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc( 100% - 180px);
  font-size: 13px;
  padding: 18px 20px;
  box-sizing: border-box;
}

#container .grid-wrap #main .slide-track.eleventh .swiper-slide:nth-child(1) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/slide-track eleventh/slide1.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.eleventh .swiper-slide:nth-child(2) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/slide-track eleventh/slide2.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.eleventh .swiper-slide:nth-child(3) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/slide-track eleventh/slide3.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.eleventh .swiper-slide:nth-child(4) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/slide-track eleventh/slide4.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.eleventh .swiper-slide:nth-child(5) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/slide-track eleventh/slide5.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#container .grid-wrap #main .slide-track.eleventh .swiper-slide:nth-child(6) .item-img {
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/slide-track eleventh/slide6.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
}
