.wrapping {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.back-to-top {
  .bg-back {
    position: fixed;
    display: block;
    width: 70px;
    height: 70px;
    bottom: 0;
    right: 0;
    background-color: $primaryColor;
    background-image: url('../img/section2/arrow_upward.png');
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 100;
    opacity: 0;
    transition: .3s;
  }
  &.on {
    .bg-back {
      opacity: 1;
    }
  }
}

main {
  .section1.mainpage {
    position: relative;
    width: 100%;
    min-height: 1000px;
    background-color: $layoutBg;
    .back-bg {
      svg {
        position: absolute;
        width: 65%;
        height: auto;
        bottom: 0;
        right: 0;
      }
    }
    .wrapping {
      min-height: 1000px;
      .inner {
        position: relative;
        flex: 45%;
        &:nth-child(1) {
          h1 {
            font-size: 5vw;
          }
          p {
            width: 70%;
            line-height: 1.7em;
            margin: 2rem 0 4rem;
          }
          .btn-group {
            a:nth-child(2) {
              margin-left: 1.5rem;
            }
          }
        }
        &:nth-child(2) {
          img {
            position: absolute;
            height: auto;
            &:nth-child(1) {
              width: 60%;
              bottom: 5%;
              left: -7%;
              z-index: 3;
            }
            &:nth-child(2) {
              width: 40%;
              bottom: 4%;
              left: -9%;
              z-index: 1;
            }
            &:nth-child(3) {
              z-index: 1;
              bottom: 8%;
              right: 0%;
              width: 30%;
            }
            &:nth-child(4) {
              position: relative;
              width: 100%;
              z-index: 2;
            }
          }
        }
      }
    }
  }
  .section2.mainpage {
    position: relative;
    padding: 9.7% 0;
    height: 555px;
    overflow-x: clip;
    background-image: url('../img/section2/grain-pattern.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 80%;
    &:after {
      content: "";
      display: block;
      position: absolute;
      z-index: -2;
      bottom: 0;
      left: 0;
      height: 30px;
      width: 100%;
      background: $layoutBg;
    }
    .back-bg {
      .wedge {
        position: absolute;
        width: 12%;
        height: auto;
        top: 0;
        left: 0;
        path {
          width: 100%;
        }
      }
      .corner-bottom {
        position: absolute;
        width: 10%;
        height: auto;
        fill: $layoutBg;
        bottom: 30px;
        left: 0;
      }
    }
    .wrapping {
      height: 100%;
      .inner:nth-child(1) {
        width: 20%;
        height: 100%;
        p {
          position: relative;
          top: 20%;
          display: inline-block;
          font-size: 44px;
          font-weight: 500;
          line-height: 1em;
          height: 422px;
          z-index: 1;
        }
      }
      .inner:nth-child(2) {
        position: relative;
        width: 80%;
        height: 100%;
        & > a {
          display: inline-block;
          height: 36px;
          padding-bottom: 11px;
          margin-bottom: 64px;
          margin-left: 100px;
          border-bottom: 1px solid $primaryColor;
        }
        #carousel-wrap {
          position: relative;
          width: 100%;
          height: 422px;
          #carousel-prev, #carousel-next {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ECD2B6;
            background-image: url('../img/section2/arrow_right.png');
            background-position: center center;
            background-repeat: no-repeat;
            position: absolute;
            top: 180px;
            box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, .25);
            cursor: pointer;
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
          #carousel-prev {
            left: -18px;
            z-index: 3;
            transform: rotate(180deg);
          }
          #carousel-next {
            right: -18px;
            z-index: 3;
          }
          #carousel {
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin-left: 100px;
            ul.column {
              width: 100%;
              height: 422px;
              float: left;
              overflow: hidden;
              li {
                float: left;
                display: inline-block;
                padding-right: 44px;
                width: 320px;
                height: 100%;
                box-sizing: border-box;
                a {
                  position: relative;
                  display: block;
                  height: 414px;
                  background-size: cover;
                  background-position: center center;
                  background-repeat: no-repeat;
                  &:hover .shadow-box {
                    opacity: 1;
                  }
                  .product-card {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $btnBgColor;
                    color: white;
                    font-size: 0.7em;
                    padding: 0.5em 0.8em 0.6em;
                    border-bottom-right-radius: 14px;
                    z-index: 1;
                  }
                  .recipes-card-title {
                    position: absolute;
                    bottom: 0;
                    left: 10%;
                    display: inline-block;
                    width: 80%;
                    z-index: 1;
                    p {
                      color: white;
                      font-size: 34px;
                      text-align: center;
                    }
                  }
                  .shadow-box {
                    position: absolute;
                    z-index: 0;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 50%;
                    display: inline-block;
                    background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
                    opacity: .8;
                    transition: opacity 0.3s ease;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .section3.mainpage {
    position: relative;
    width: 100%;
    padding: 14rem 0 10rem;
    background: $layoutBg;
    overflow-x: clip;
    .back-bg {
      img {
        position: absolute;
        &:nth-child(1) {
          bottom: 12%;
          right: 5%;
          width: 1.8%;
          height: auto;
          z-index: 2;
        }
        &:nth-child(2) {
          bottom: -120px;
          right: 0;
          width: 45%;
          height: auto;
          transform: translateX(50%);
          z-index: 1;
        }
      }
    }
    .wrapping {
      .inner {
        position: relative;
        padding: 0 4rem;
        box-sizing: border-box;
        &:nth-child(1) {
          flex: 50%;
          ul {
            overflow: hidden;
            li {
              display: inline;
              width: 48%;
              &:nth-child(1) {
                float: left;
                img {
                  width: 100%;
                  height: auto;
                }
              }
              &:nth-child(2) {
                float: right;
                padding: 4rem 0 2rem;
                img {
                  width: 100%;
                  height: auto;
                }
              }
              &:nth-child(3) {
                float: right;
                img {
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
        }
        &:nth-child(2) {
          flex: 35%;
          h2 {
            font-size: $fontSizeh2;
          }
          p {
            line-height: 1.7em;
            margin: 2rem 0 4rem;
          }
          .btn-group {
            a:nth-child(2) {
              margin-left: 1.5rem;
            }
          }
        }
      }
    }
  }
  .section4.mainpage {
    position: relative;
    width: 100%;
    padding-top: 15%;
    background-image: url('../img/section4/dot-globe-dark.svg');
    background-position: top right;
    background-size: 65%;
    background-repeat: no-repeat;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 60px;
      background: $layoutBg;
      z-index: -1;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      background: $section45Color;
      z-index: -1;
    }
    .back-bg {
      a {
        position: absolute;
        &:nth-child(1) {
          width: 30%;
          bottom: 0;
          right: 7.5rem;
        }
        & > img {
          width: 100%;
          height: auto;
        }
        &:nth-child(2) {
          color: #EC539E;
          right: 50%;
          bottom: 30%;
          &:hover {
            color: black;
          }
        }
      }
      svg {
        position: absolute;
        z-index: -1;
        right: 0;
        bottom: calc(-1px + 60px);
        fill: #E51C24;
        transform: rotate(-90deg);
        width: 12%;
        height: auto;
        max-width: 240px;
      }
    }
    .wrapping {
      display: block;
      height: 89vh;
      .inner {
        position: relative;
        width: 50%;
        &:nth-child(1) {
          h3 {
            font-size: $fontSizeh3;
          }
          p {
            width: 100%;
            line-height: 1.7em;
            margin: 2rem 0 4rem;
          }
          .btn-group {
            a:nth-child(2) {
              margin-left: 1.5rem;
            }
          }
        }
      }
    }
  }
  .section5.mainpage {
    position: relative;
    background: $section45Color;
    padding: 6rem 0 8rem;
    .back-bg {
      .corner {
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        width: 10%;
        max-width: 240px;
        height: auto;
      }
    }
    .wrapping {
      .inner {
        position: relative;
        box-sizing: border-box;
        &:nth-child(1) {
          width: 50%;
          img {
            width: 100%;
            height: auto;
          }
        }
        &:nth-child(2) {
          padding-left: 50px;
          width: 45%;
          color: white;
          h3 {
            font-size: $fontSizeh3;
            margin-top: 1rem;
          }
          p {
            width: 78%;
            line-height: 1.7em;
            margin: 2rem 0 4rem;
          }
          a {
            background: white;
            color: black;
            &:hover {
              background: $btnHoverBgColor;
              color: white;
            }
          }
        }
      }
    }
  }
}

@media screen and ( max-width : 1200px ) {
  main {
    .section2.mainpage {
      padding-top: 0;
      height: 700px;
      .wrapping {
        .inner {
          flex-basis: 100%;
        }
        .inner:nth-child(1) {
          height: 50px;
          p {
            position: absolute;
            top: 100px;
            left: 150px;
            width: 50%;
          }
        }
        .inner:nth-child(2) {
          & > a {
            margin-bottom: 150px;
          }
        }
      }
    }
  }

  main .section3.mainpage .wrapping .inner {
    flex-basis: 50%;
    &:nth-child(2) {
      padding: 0;
      h2 {
        font-size: 38px;
      }
      p {
        font-size: 19px;
      }
      a {
        font-size: 17.1px;
      }
    }
  }

  main .section4.mainpage {
    .back-bg {
      a:nth-of-type(2) {
        font-size: 19px;
      }
    }
    .wrapping {
      height: 700px;
      .inner {
        &:nth-child(1) {
          h3 {
            font-size: 43px;
          }
          p {
            font-size: 19px;
          }
          a {
            font-size: 17.1px;
          }
        }
      }
    }
  }

  main .section5.mainpage {
    .wrapping {
      .inner {
        &:nth-child(2) {
          h3 {
            font-size: 43px;
          }
          p {
            font-size: 19px;
          }
          a {
            font-size: 17.1px;
          }
        }
      }
    }
  }
}

@media screen and ( max-width : 990px ) {
  main {
    .section1.mainpage {
      padding: 111px 0 64px;
      min-height: 500px;
      .wrapping {
        min-height: 500px;
        .inner {
          &:nth-child(1) {
            p {
              font-size: 19px;
              width: 95%;
              margin: 1rem 0 1rem;
            }
            .btn-group {
              a:nth-child(2) {
                display: block;
                width: 100%;
                margin-left: 0;
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
  }
  main .section2.mainpage .wrapping .inner:nth-child(1) p {
    width: 500px;
    left: 140px;
  }

  main .section3.mainpage {
    padding: 80px 0 48px;
    .back-bg {
      display: none;
    }
  }

  main .section3.mainpage .wrapping .inner:nth-child(1) {
    padding: 0 20px 0 0;
  }

  main .section4.mainpage {
    .back-bg a:nth-of-type(2) {
      display: block;
      width: 220px;
      line-height: 30px;
    }
    .wrapping {
      height: 600px;
    }
  }

  main .section4.mainpage .wrapping .inner:nth-child(1) {
    width: 70%;
    p {
      margin: 15px 0 15px;
    }
  }

  main .section5.mainpage {
    .wrapping {
      .inner {
        flex-basis: 49%;
        &:nth-child(2) {
          padding: 0;
          p {
            width: 100%;
            margin: 16px 0 24px;
          }
        }
      }
    }
  }
}

@media screen and ( max-width : 767px ) {
  main .section1.mainpage .wrapping .inner:nth-child(1) p {
    font-size: 16px;
  }
  main .section1.mainpage .wrapping .inner:nth-child(1) .btn-group a {
    font-size: 16px;
  }
  main {
    .section2.mainpage .wrapping .inner {
      flex-basis: 100%;
    }
  }

  main .section2.mainpage .wrapping .inner:nth-child(1) p {
    font-size: 38px;
    left: 125px;
  }

  main .section3.mainpage .wrapping .inner {
    &:nth-child(1) {
      flex-basis: 100%;
      padding-bottom: 32px;
    }
    &:nth-child(2) {
      flex-basis: 100%;
      h2 {
        font-size: 32px;
      }
      p {
        font-size: 16px;
      }
      a {
        font-size: 14.4px;
      }
    }
  }

  main .section4.mainpage {
    .back-bg {
      a:nth-of-type(1) {
        width: 40vw;
        font-size: 16px;
        right: 50%;
        transform: translateX(50%);
        bottom: 0;
      }
      a:nth-of-type(2) {
        width: 320px;
        font-size: 16px;
        transform: translateX(50%);
        bottom: 50%;
        right: 50%;
      }
    }
    .wrapping {
      height: 800px;
    }
  }

  main .section4.mainpage .wrapping .inner:nth-child(1) {
    width: 100%;
    h3 {
      font-size: 36px;
    }
    p {
      font-size: 16px;
      margin: 16px 0 24px;
    }
    a {
      font-size: 14.4px;
    }
  }

  main .section5.mainpage {
    padding: 3rem 0 4rem;
    .wrapping {
      .inner {
        width: 100%;
        flex-basis: 100%;
        &:nth-child(2) {
          h3 {
            font-size: 36px;
          }
          p {
            font-size: 16px;
          }
          a {
            font-size: 14.4px;
          }
        }
      }
    }
  }
}

@media screen and ( max-width : 575px ) {
  main {
    .section1.mainpage {
      .wrapping {
        .inner {
          flex-basis: 100%;
          &:nth-child(1) {
            h1 {
              margin-top: 48px;
              font-size: 42px;
            }
            .btn-group {
              a {
                display: block;
                width: 100%;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  main .section2.mainpage .wrapping .inner:nth-child(1) p {
    width: 300px;
    font-size: 38px;
    left: 125px;
  }

  main .section3.mainpage .wrapping .inner:nth-child(2) a {
    width: 100%;
  }

  main .section4.mainpage {
    .back-bg {
      a:nth-of-type(2) {
        width: 320px;
        font-size: 16px;
        transform: translateX(50%);
        bottom: 330px;
        right: 50%;
      }
    }
    .wrapping {
      height: 650px;
    }
  }
  main .section4.mainpage .wrapping .inner:nth-child(1) {
    a {
      width: 100%;
    }
  }

  main .section5.mainpage .wrapping .inner:nth-child(2) {
    a {
      width: 100%;
    }
  }
}
