// 변수 처리

// color
$layoutBg: #FFE9CF;
$primaryColor: #E51C24;
$fontColorHover: #E51C24;
$section45Color: #E51C24;

// btn color
$btnFontColor: white;
$btnBgColor: #E51C24;
$btnHoverBgColor: #890413;

// font size
$fontSizeh1: 90px;
$fontSizeh2: 44px;
$fontSizeh3: 50px;
$btnFontSize: 0.9em;

// subpage
$ourRangePrimaryColor: #043E97;
$ourRangeHover: #EDB92D;
$recipesPrimaryColor: #EDB92D;
