main {
  .section1.who_are_sempio {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/who_are_sempio/section1/who-are-sempio-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 160px;
      display: inline-block;
      background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 50%;
      display: inline-block;
      background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
    }
    .back-bg {
      .yellow-pattern {
        position: absolute;
        background-image: url('../img/who_are_sempio/section1/yellow-pattern.svg');
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        right: 0;
        transform: translateY(50%);
        width: 35%;
        height: 400px;
        z-index: 5;
      }
    }
    .wrapping {
      height: 100%;
      align-items: flex-end;
      .inner {
        position: relative;
        flex-basis: 70%;
        z-index: 1;
        h1 {
          margin-left: 5vw;
          padding-bottom: 1.2em;
          font-size: 5.5vw;
          color: white;
          &:after {
            content: "";
            position: absolute;
            display: block;
            left: 5vw;
            bottom: 0;
            width: 2px;
            height: 20%;
            background: white;
          }
        }
      }
    }
  }

  .section2.who_are_sempio {
    position: relative;
    background: #EC539E;
    padding: 8rem 0 12rem;
    .back-bg {
      svg {
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        transform: translateY(50%);
        width: 15%;
        height: auto;
        max-width: 400px;
      }
    }
    .wrapping {
      height: 100%;
      .inner:nth-child(1) {
        position: relative;
        flex-basis: 45%;
        h2 {
          display: block;
          font-size: $fontSizeh2;
          margin-left: 6rem;
          padding-bottom: 1.2rem;
          &:before {
            content: "";
            position: absolute;
            display: block;
            left: 5vw;
            top: -128px;
            width: 2px;
            height: 80px;
            background: black;
          }
        }
      }
      .inner:nth-child(2) {
        flex-basis: 100%;
        justify-content: flex-end;
        position: relative;
        overflow: hidden;
        p {
          float: right;
          width: 33%;
          height: 100%;
          color: white;
          margin-bottom: 1.6em;
          margin-right: 50px;
          line-height: 35px;
          &:nth-child(1) {
            width: 30%;
            margin-right: 6rem;
          }
        }
      }
    }
  }

  .section3.who_are_sempio {
    position: relative;
    width: 100%;
    padding: 14rem 0 64px;
    background: white;
    overflow-x: clip;
    .back-bg {
      svg {
        position: absolute;
        z-index: 1;
        right: -1px;
        top: -1px;
        width: 10%;
        max-width: 240px;
        height: auto;
        transform: rotate(180deg);
        fill: #EC539E;
      }
    }
    .wrapping {
      height: 35vw;
      .inner {
        position: relative;
        box-sizing: border-box;
        width: 50%;
        height: 100%;
        &:nth-child(1) {
          padding: 0 8rem 0 6rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          h2 {
            font-size: $fontSizeh2;
            color: #E51C24;
          }
          p {
            line-height: 1.7em;
            margin: 2rem 0 0;
          }
        }
        &:nth-child(2) {
          position: relative;
          padding: 0;
          height: 100%;
          img {
            position: absolute;
            width: 90%;
            bottom: 0;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .3);
          }
        }
      }
    }
  }

  .section4.who_are_sempio {
    position: relative;
    width: 100%;
    margin-top: 160px;
    padding: 320px 0 160px;
    .back-bg {
      .char-box {
        position: absolute;
        font-size: 15vw;
        color: $layoutBg;
        &.first {
          top: -30px;
          left: 100px;
        }
        &.second {
          top: 220px;
          left: 150px;
        }
      }
      svg {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateY(50%) rotate(180deg);
        width: 12%;
        height: auto;
        max-width: 240px;
        z-index: 1;
      }
    }
    .wrapping {
      justify-content: center;
      .inner {
        position: relative;
        width: 50%;
        p {
          width: 100%;
          line-height: 1.7em;
          margin: 2rem 0 2rem;
          &:nth-child(4) {
            font-weight: 500;
          }
        }
      }
    }
  }

  .section5.who_are_sempio {
    position: relative;
    background: $layoutBg;
    padding: 8rem 0 8rem;
    z-index: 0;
    .back-bg {
      svg {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 10%;
        max-width: 240px;
        height: auto;
      }
    }
    .wrapping {
      align-items: flex-start;
      .inner {
        position: relative;
        box-sizing: border-box;
        &:nth-child(1) {
          flex-basis: 20%;
          .time-wrap {
            position: relative;
            top: 0;
            ul li {
              height: 35px;
            }
          }
        }
        &:nth-child(2) {
          position: relative;
          flex-basis: 80%;
          padding-left: 50px;
          width: 45%;
          color: white;
          svg {
            position: absolute;
            top: 0;
            left: 50%;
          }
          ul {
            padding-top: 2rem;
            .timeline {
              overflow: hidden;
              width: 100%;
              padding: 3rem 0 5rem;
              h4 {
                position: relative;
                text-align: center;
                font-size: 26.4px;
                color: black;
                &:after {
                  position: absolute;
                  display: block;
                  content: '';
                  width: 3px;
                  height: 30px;
                  background: black;
                  left: calc( 50% - 1.5px );
                  bottom: -80px;
                }
                &:before {
                  position: absolute;
                  display: block;
                  content: '';
                  width: 10px;
                  height: 2px;
                  background: black;
                  left: calc( 50% - 5px );
                  bottom: -50px;
                }
              }
            }
            .timeline-items {
              width: 100%;
              .timeline-content {
                display: block;
                width: calc(50% + 1.5px);
                height: 100%;
                .side-bg.left {
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 150px;
                  height: 300px;
                  .box-img {
                    position: absolute;
                    top: 0;
                    background-color: rgb(35, 91, 34);
                    width: 100%;
                    height: 50%;
                  }
                  svg {
                    position: absolute;
                    top: 150px;
                    left: 0;
                  }
                }
                .side-bg.right {
                  position: absolute;
                  right: 0;
                  top: 0;
                  width: 150px;
                  height: 300px;
                  .box-img {
                    position: absolute;
                    top: 0;
                    background-color: rgb(35, 91, 34);
                    width: 100%;
                    height: 50%;
                  }
                  svg {
                    position: absolute;
                    top: 150px;
                    left: 1px;
                  }
                }
                img {
                  width: auto;
                  height: 150px;
                }
                p {
                  color: black;
                  margin: 0;
                  padding: 1rem 2rem;
                  min-height: 150px;
                  line-height: 35px;
                  box-sizing: border-box;
                }
                &.right {
                  float: right;
                  position: relative;
                  padding-left: 150px;
                  box-sizing: border-box;
                  border-left: 3px solid black;
                }
                &.left {
                  text-align: right;
                  float: left;
                  position: relative;
                  padding-right: 150px;
                  box-sizing: border-box;
                  border-right: 3px solid black;
                }
                &.left.last {
                  &:before {
                    position: absolute;
                    display: block;
                    content: '';
                    width: 10px;
                    height: 2px;
                    background: black;
                    right: -6.25px;
                    bottom: 0;
                  }
                }
                &.right.last {
                  &:after {
                    position: absolute;
                    display: block;
                    content: '';
                    width: 10px;
                    height: 2px;
                    background: black;
                    left: -6.25px;
                    bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  main {
    .section2.who_are_sempio {
      .wrapping {
        .inner:nth-child(1) {
          flex-basis: 50%;
          h2 {
            font-size: 38px;
          }
        }
        .inner:nth-child(2) {
          p {
            font-size: 19px;
            font-weight: 400;
            line-height: 30px;
          }
        }
      }
    }
    .section3.who_are_sempio {
      .wrapping {
        height: 42vh;
        .inner:nth-child(1) {
          padding-right: 6rem;
          h2 {
            font-size: 43px;
          }
          p {
            margin-top: 16px;
            font-size: 19px;
            line-height: 30px;
          }
        }
        .inner:nth-child(2) {
          img {
            width: 75%;
          }
        }
      }
    }
    .section4.who_are_sempio {
      margin-top: 64px;
      padding: 160px 0 80px;
      .back-bg {
        .char-box {
          &.first {
            left: 50px;
          }
          &.second {
            top: 130px;
            left: 100px;
          }
        }
      }
      .wrapping {
        .inner {
          width: 65%;
          p {
            font-size: 19px;
          }
        }
      }
    }
    .section5.who_are_sempio {
      .wrapping {
        .inner {
          &:nth-child(1) {
            flex-basis: 12%;
          }
          &:nth-child(2) {
            flex-basis: 88%;
            .time-wrap {
            }
            .timeline-icon {
            }
            ul {
              li.timeline-items {
                p {
                  font-size: 19px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  main {
    .section1.who_are_sempio {
      height: 75vh;
      .back-bg {
        .yellow-pattern {
          width: 26%;
          height: 130px;
        }
      }
      .wrapping {
        .inner {
          flex-basis: 100%;
          h1 {
            width: 100%;
          }
        }
      }
    }
    .section2.who_are_sempio {
      padding: 64px 0;
      .wrapping {
        .inner:nth-child(1) {
          flex-basis: 100%;
          h2 {
            margin-left: 20px;
            font-size: 38px;
          }
        }
        .inner:nth-child(2) {
          p {
            width: 45%;
            margin: 0;
          }
        }
      }
    }
    .section3.who_are_sempio {
      .wrapping {
        height: 42vh;
        .inner:nth-child(1) {
          padding: 0;
          p {
            padding-right: 10px;
          }
        }
        .inner:nth-child(2) {
          img {
            width: 100%;
          }
        }
      }
    }
    .section4.who_are_sempio {
      .wrapping {
        .inner {
          width: 80%;
        }
      }
    }
    .section5.who_are_sempio {
      .wrapping {
        .inner {
          &:nth-child(1) {
            flex-basis: 20%;
          }
          &:nth-child(2) {
            flex-basis: 80%;
            position: relative;
            svg {
              position: absolute;
              top: 0;
              left: 50%;
            }
            ul {
              padding-left: 20px;
              .timeline {
                h4 {
                  text-align: left;
                  font-size: 22.8px;
                  &:after {
                    left: 4px;
                    width: 2px;
                  }
                  &:before {
                    left: 0;
                  }
                }
              }
              .timeline-items {
                width: 100%;
                .timeline-content {
                  display: block;
                  width: 100%;
                  height: 100%;
                  padding-bottom: 40px;
                  .side-bg.left {
                    display: none;
                  }
                  .side-bg.right {
                    display: none;
                  }
                  img {
                    width: auto;
                    height: 25vw;
                  }
                  p {
                    padding: 0;
                    min-height: 0;
                  }
                  &.right {
                    float: left;
                    padding-left: 32px;
                    margin-left: 4px;
                    border-left: 2px solid black;
                  }
                  &.left {
                    text-align: left;
                    float: left;
                    position: relative;
                    padding-right: 0;
                    padding-left: 32px;
                    margin-left: 4px;
                    box-sizing: border-box;
                    border-right: 0;
                    border-left: 2px solid black;
                  }
                  &.left.last {
                    &:before {
                      position: absolute;
                      display: block;
                      content: '';
                      width: 10px;
                      height: 2px;
                      background: black;
                      left: -6.25px;
                      bottom: 0;
                    }
                  }
                  &.right.last {
                    &:after {
                      position: absolute;
                      display: block;
                      content: '';
                      width: 10px;
                      height: 2px;
                      background: black;
                      left: -6.25px;
                      bottom: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  main .section2.who_are_sempio .wrapping .inner:nth-child(2) p:nth-child(1) {
    float: left;
    margin-left: 20px;
    margin-right: 0;
  }

  main .section2.who_are_sempio .wrapping .inner:nth-child(2) p:nth-child(1) {
    width: 45%;
  }
}

@media screen and (max-width: 767px) {
  main {
    .section2.who_are_sempio {
      .back-bg {
        svg {
          z-index: 1;
        }
      }
      .wrapping {
        .inner:nth-child(1) {
          h2 {
            font-size: 32px;
          }
        }
        .inner:nth-child(2) {
          p {
            width: 49%;
            z-index: 5;
            font-size: 16px;
            line-height: 25px;
          }
        }
      }
    }
    .section3.who_are_sempio {
      .wrapping {
        .inner:nth-child(1) {
          h2 {
            font-size: 36px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
    .section4.who_are_sempio {
      margin-top: 0;
      padding: 128px 0 48px;
      .back-bg {
        .char-box {
          &.first {
            left: 30px;
          }
          &.second {
            top: 80px;
            left: 70px;
          }
        }
      }
      .wrapping {
        .inner {
          width: 100%;
          p {
            margin: 0 0 32px 0;
            font-size: 16px;
            line-height: 1.5em;
          }
        }
      }
    }
    .section5.who_are_sempio {
      .wrapping {
        .inner {
          &:nth-child(1) {
            display: none;
          }
          &:nth-child(2) {
            padding-left: 0;
            ul {
              .timeline-items {
                .timeline-content {
                  img {
                    height: 40vw;
                  }
                  p {
                    font-size: 16px;
                    line-height: 25px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px ) {
  main {
    .section1.who_are_sempio {
      .wrapping {
        .inner {
          h1 {
            font-size: 42px;
          }
        }
      }
    }
    .section2.who_are_sempio {
      .wrapping {
        .inner:nth-child(2) {
          p {
            &:nth-child(1) {
              width: 100%;
              margin-bottom: 30px;
            }
            float: left;
            margin-left: 20px;
            width: 100%;
          }
        }
      }
    }
    .section3.who_are_sempio {
      padding-top: 64px;
      .wrapping {
        height: 82vh;
        justify-content: center;
        .inner {
          flex-basis: 100%;
          &:nth-child(1) {
            justify-content: flex-start;
            height: 320px;
          }
          &:nth-child(2) {
            img {
              position: relative;
            }
          }
        }
      }
    }
    .section4.who_are_sempio {
      margin-top: 200px;
      .back-bg {
        .char-box {
          &.first {
            left: 20px;
          }
          &.second {
            top: 80px;
            left: 60px;
          }
        }
      }
    }
  }
}
