.btn-group {
  position: absolute;
  width: 187px;
  height: 50px;
  overflow: hidden;
}

.btn-prev {
  position: relative;
  width: 52px;
  height: 50px;
  background: url("../img/sp_main.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  float: left;
}

.btn-count {
  position: relative;
  display: flex;
  align-items: center;
  width: 42.47px;
  height: 50px;
  padding: 0 10px;
  float: left;
  box-sizing: border-box;
}

.btn-count span {
  font-size: 15px;
}

.btn-count span:nth-child(1) {
  color: red;
}

.btn-next {
  position: relative;
  width: 52px;
  height: 50px;
  background: url("../img/sp_main.png");
  background-position: -56px 0;
  background-repeat: no-repeat;
  float: left;
}

.btn-stop {
  position: relative;
  width: 40px;
  height: 50px;
  float: right;
}

.btn-stop span {
  display: block;
  width: 8px;
  height: 14px;
  margin: 18px 16px;
  background: url("../img/sp_main.png");
  background-position: -124px -35px;
  background-repeat: no-repeat;
}
