@charset "UTF-8";
@import url("http://fonts.cdnfonts.com/css/sofia-pro");
* {
  color: #444444;
}

html, body {
  height: 100%;
}

body {
  background: white;
  color: black;
  font-family: '맑은 고딕', '돋움', Dotum, '굴림', Gulim, Sans-serif;
  font-size: 16px;
}

html, body, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
}

#header {
  position: fixed;
  width: 100%;
  height: 97px;
  border-bottom: 1px solid #d5d6dd;
  z-index: 20;
  background: white;
}

#header .gnb-hover {
  position: absolute;
  background: white;
  width: 100%;
  height: auto;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #024da1;
}

#header .gnb-hover .wrap .top-banner {
  width: 100%;
}

#header .gnb-hover .wrap .top-banner ul li {
  float: left;
  width: 20.71%;
  height: 101px;
  margin: 0 30px;
  padding: 0 40px;
  border-bottom: 1px solid #024da1;
  box-sizing: border-box;
}

#header .gnb-hover .wrap .top-banner ul li a {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 101px;
  line-height: 101px;
  text-align: center;
}

#header .gnb-hover .wrap .top-banner ul li a:hover {
  color: #024da1;
}

#header .gnb-hover .wrap .content {
  width: 100%;
  overflow: hidden;
}

#header .gnb-hover .wrap .content ul {
  float: left;
  width: 25%;
  padding: 13px 30px;
  box-sizing: border-box;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(1) a {
  padding-left: 50px;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(1) a:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 30px;
  margin: -15px 0 0;
  background: url("../img/sp_gnb_part.png");
  background-position: 0 0px;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(1) a:after {
  display: none;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(2) a {
  padding-left: 50px;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(2) a:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 30px;
  margin: -15px 0 0;
  background: url("../img/sp_gnb_part.png");
  background-position: 0 -30px;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(2) a:after {
  display: none;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(3) a {
  padding-left: 50px;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(3) a:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 30px;
  margin: -15px 0 0;
  background: url("../img/sp_gnb_part.png");
  background-position: 0 -60px;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(3) a:after {
  display: none;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(4) a {
  padding-left: 50px;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(4) a:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 30px;
  margin: -15px 0 0;
  background: url("../img/sp_gnb_part.png");
  background-position: 0 -90px;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(4) a:after {
  display: none;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(5) a {
  padding-left: 50px;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(5) a:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 30px;
  margin: -15px 0 0;
  background: url("../img/sp_gnb_part.png");
  background-position: 0 -120px;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(5) a:after {
  display: none;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(6) a {
  padding-left: 50px;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(6) a:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 30px;
  margin: -15px 0 0;
  background: url("../img/sp_gnb_part.png");
  background-position: 0 -150px;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(6) a:after {
  display: none;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(7) a {
  padding-left: 50px;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(7) a:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 30px;
  margin: -15px 0 0;
  background: url("../img/sp_gnb_part.png");
  background-position: 0 -180px;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(7) a:after {
  display: none;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(8) a {
  padding-left: 50px;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(8) a:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 30px;
  margin: -15px 0 0;
  background: url("../img/sp_gnb_part.png");
  background-position: 0 -210px;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(8) a:after {
  display: none;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(9) a {
  padding-left: 50px;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(9) a:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 30px;
  margin: -15px 0 0;
  background: url("../img/sp_gnb_part.png");
  background-position: 0 -240px;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(9) a:after {
  display: none;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(10) a {
  padding-left: 50px;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(10) a:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 30px;
  margin: -15px 0 0;
  background: url("../img/sp_gnb_part.png");
  background-position: 0 -270px;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li:nth-child(10) a:after {
  display: none;
}

#header .gnb-hover .wrap .content ul:nth-child(4) li a:after {
  display: none;
}

#header .gnb-hover .wrap .content ul li {
  padding: 8px 0 8px 8px;
  border-bottom: 1px solid #f2f2f2;
  box-sizing: border-box;
  cursor: pointer;
}

#header .gnb-hover .wrap .content ul li:hover {
  background: #f4faff;
}

#header .gnb-hover .wrap .content ul li:hover a {
  color: #024da1;
}

#header .gnb-hover .wrap .content ul li a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  letter-spacing: -1px;
}

#header .gnb-hover .wrap .content ul li a:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 5px;
  width: 5px;
  height: 5px;
  border: 2px solid #a7a7a7;
  border-width: 2px 2px 0 0;
  transform: translateY(-50%) rotate(45deg);
}

#header .gnb-hover .wrap .content ul li a.href-icon:after {
  position: relative;
  width: 15px;
  height: 13px;
  top: auto;
  right: auto;
  margin: -4px 0 0 8px;
  border: 0;
  vertical-align: middle;
  transform: rotate(0);
  background: url("../img/ico_blank.png") no-repeat 0 0;
}

#header .wrap {
  position: relative;
}

#header .wrap .logo {
  display: flex;
  align-items: center;
  float: left;
  width: 124px;
  height: 100%;
}

#header .wrap .logo a {
  display: block;
  width: 124px;
  height: 64px;
  background: url("../img/logo_header.png");
}

#header .wrap .gnb-wrap {
  display: block;
  width: 990px;
  height: 100%;
  margin: 0 280px 0 130px;
}

#header .wrap .gnb-wrap ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .wrap .gnb-wrap ul li {
  font-size: 20px;
  color: #333;
  font-weight: 600;
  letter-spacing: -1px;
  padding: 40px;
  cursor: pointer;
}

#header .wrap .util-wrap {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#header .wrap .util-wrap > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#header .wrap .util-wrap > ul > li {
  position: relative;
  font-size: 13px;
  color: #444;
  cursor: pointer;
}

#header .wrap .util-wrap > ul > li:nth-child(1), #header .wrap .util-wrap > ul > li:nth-child(2) {
  padding: 0 30px 0 10px;
}

#header .wrap .util-wrap > ul > li.active:nth-child(1):before, #header .wrap .util-wrap > ul > li.active:nth-child(2):before {
  transform: rotate(180deg);
}

#header .wrap .util-wrap > ul > li:nth-child(1):before, #header .wrap .util-wrap > ul > li:nth-child(2):before {
  margin: 13.5px 3.5px;
  content: '';
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 13px;
  margin: auto;
  border: 4px solid transparent;
  border-top-width: 5px;
  border-bottom: 0;
  border-top-color: #333;
  transition: all .3s;
  cursor: pointer;
  z-index: 1;
}

#header .wrap .util-wrap > ul > li:nth-child(1):after {
  content: '';
  position: absolute;
  display: block;
  top: calc( 50% - 5px);
  right: 0;
  width: 1px;
  height: 10px;
  background-color: #d5d6dd;
}

#header .wrap .util-wrap > ul > li .search-btn {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background: url("../img/img_srch.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

#header .wrap .util-wrap > ul > li a {
  display: block;
  padding-top: 4px;
}

#header .wrap .util-wrap > ul > li a .menu {
  width: 29px;
  height: 23px;
  margin-left: 30px;
  background: url("../img/img_sitemap.png");
  background-size: contain;
  background-repeat: no-repeat;
}

main {
  padding-top: 97px;
}

main .youtube-content {
  display: none;
}

main .content-area.first {
  width: 100%;
  height: 66px;
  padding: 20px 0 40px;
}

main .content-area.first .search-bar {
  position: relative;
  margin: 0 auto;
  max-width: 837px;
  height: 66px;
  border: 2px solid #09A958;
  border-radius: 20px 0 20px 0;
}

main .content-area.first .search-bar input {
  float: left;
  padding: 0 30px;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent;
  outline: none;
  caret-color: #09A958;
  box-sizing: border-box;
  font-size: 28px;
  color: #09A958;
}

main .content-area.first .search-bar button {
  position: absolute;
  padding: 0;
  margin: 0;
  top: -2px;
  right: -1px;
  width: 126px;
  height: 66px;
  border-radius: 20px 0;
  background-image: url("../img/content1/btn_srch.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #09A958;
  border: 2px solid #09A958;
  box-sizing: content-box;
}

main .content-area.second .wrap {
  display: flex;
  height: 391px;
}

main .content-area.second .wrap .col1 {
  flex-basis: 74.42%;
  position: relative;
}

main .content-area.second .wrap .col1 .btn-group {
  bottom: 10px;
  left: 0;
}

main .content-area.second .wrap .col1 .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: .7s;
}

main .content-area.second .wrap .col1 .slide:nth-child(2), main .content-area.second .wrap .col1 .slide:nth-child(3) {
  opacity: 0;
}

main .content-area.second .wrap .col1 .slide a {
  position: relative;
  height: 391px;
  display: flex;
  justify-content: space-between;
}

main .content-area.second .wrap .col1 .slide a .ad-text {
  padding-top: 20px;
  width: 31.1%;
}

main .content-area.second .wrap .col1 .slide a .ad-text .slide-title {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  word-break: keep-all;
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  max-height: 150px;
  line-height: 50px;
  font-weight: 600;
  font-size: 42px;
  letter-spacing: -0.08em;
  white-space: pre-line;
}

main .content-area.second .wrap .col1 .slide a .ad-text .slide-content {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  word-break: keep-all;
  word-wrap: break-word;
  -webkit-line-clamp: 4;
  height: 112px;
  line-height: 28px;
  margin: 30px 0 0 0;
  font-size: 16px;
  letter-spacing: -1px;
  white-space: pre-line;
}

main .content-area.second .wrap .col1 .slide a .ad-img {
  width: 65.7%;
}

main .content-area.second .wrap .col1 .slide:nth-child(1) .ad-img {
  background: url("../img/content2/ad-img01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main .content-area.second .wrap .col1 .slide:nth-child(2) .ad-img {
  background: url("../img/content2/ad-img02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main .content-area.second .wrap .col1 .slide:nth-child(3) .ad-img {
  background: url("../img/content2/ad-img03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main .content-area.second .wrap .col2 {
  margin-left: 32px;
  width: 326px;
}

main .content-area.second .wrap .col2 .wt {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border: 1px solid #d5d6dd;
  border-radius: 25px;
  padding: 6px 10px 6px 30px;
  box-sizing: border-box;
}

main .content-area.second .wrap .col2 .wt .wt-icon-area {
  width: 32px;
  height: 32px;
  background: url("../img/content2/wt01.png");
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
}

main .content-area.second .wrap .col2 .wt .wt-tem-area {
  float: left;
}

main .content-area.second .wrap .col2 .wt .wt-tem-area a {
  position: relative;
  display: block;
  height: 32px;
  line-height: 32px;
  margin-left: 10px;
  color: #e30034;
  font-weight: bold;
}

main .content-area.second .wrap .col2 .wt .wt-tem-area a:hover .wt-text {
  opacity: 1;
}

main .content-area.second .wrap .col2 .wt .wt-tem-area a .wt-text {
  position: absolute;
  top: -32px;
  transform: translateX(-45%);
  width: 304px;
  height: 30px;
  line-height: 30px;
  border-radius: 6px;
  padding: 0 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: white;
  background-color: #333;
  opacity: 0;
  transition: .3s;
}

main .content-area.second .wrap .col2 .wt .wt-tem-area a .wt-text:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 50%;
  height: 0;
  border: 5px solid transparent;
  border-bottom: 0;
  border-top-color: #333;
}

main .content-area.second .wrap .col2 .wt .wt-tem-area a .wt-text:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 50%;
  height: 0;
  border: 5px solid transparent;
  border-bottom: 0;
  border-top-color: #333;
}

main .content-area.second .wrap .col2 .wt .wt-dust-btn {
  position: relative;
  width: 15px;
  height: 32px;
  margin-left: 5px;
  cursor: pointer;
}

main .content-area.second .wrap .col2 .wt .wt-dust-btn:after {
  margin: 13.5px 3.5px;
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-width: 5px;
  border-bottom: 0;
  border-top-color: #333;
  transition: all .3s;
}

main .content-area.second .wrap .col2 .wt .wt-dust-btn .lst {
  display: none;
  width: 180px;
  top: 40px;
  right: -20px;
}

main .content-area.second .wrap .col2 .wt .wt-dust-btn .lst ul li {
  width: 100%;
  font-size: 13px;
  box-sizing: border-box;
}

main .content-area.second .wrap .col2 .wt .wt-slide-area {
  overflow: hidden;
}

main .content-area.second .wrap .col2 .wt .wt-slide-area .wt-slide-wrapper a {
  display: block;
  margin-left: 10px;
  font-size: 13px;
  height: 32px;
  line-height: 32px;
}

main .content-area.second .wrap .col2 .wt .wt-slide-area .wt-slide-wrapper a span {
  height: 21px;
  line-height: 19px;
  margin-left: 5px;
  padding: 0 5px;
  border: 1px solid #333;
  border-radius: 20px;
}

main .content-area.second .wrap .col2 .mayor {
  position: relative;
  height: calc( 100% - 50px);
  padding-top: 58px;
  box-sizing: border-box;
}

main .content-area.second .wrap .col2 .mayor:after {
  content: '';
  display: block;
  position: absolute;
  right: -30px;
  bottom: 0;
  z-index: -1;
  width: 266px;
  height: 336px;
  background: url("../img/content2/img_mayor.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

main .content-area.second .wrap .col2 .mayor .img {
  display: block;
  width: 166px;
  height: 68px;
  background: url("../img/content2/img_mayor_tit.png");
  background-size: cover;
  background-repeat: no-repeat;
}

main .content-area.second .wrap .col2 .mayor > a {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin: 20px 0 0;
  font-weight: 600;
  font-size: 16px;
  color: #0f6dbb;
  letter-spacing: -1px;
  border-bottom: 1px solid #0f6dbb;
}

main .content-area.second .wrap .col2 .mayor > a:after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  margin-left: 5px;
  border: 1px solid #0f6dbb;
  border-width: 1px 1px 0 0;
  transform: rotate(45deg);
}

main .content-area.second .wrap .col2 .mayor ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 2px;
}

main .content-area.second .wrap .col2 .mayor ul li {
  flex-basis: 50%;
  padding: 3px 2px;
  box-sizing: border-box;
}

main .content-area.second .wrap .col2 .mayor ul li a {
  position: relative;
  display: block;
  padding: 8px;
  font-size: 15px;
  background: #ebecf1;
  text-align: center;
  box-sizing: border-box;
  border-radius: 20px;
}

main .content-area.third {
  margin-top: 40px;
}

main .content-area.third .wrap {
  display: flex;
  justify-content: space-between;
}

main .content-area.third .wrap .col1, main .content-area.third .wrap .col2, main .content-area.third .wrap .col3, main .content-area.third .wrap .col4 {
  width: 23.2%;
}

main .content-area.third .wrap .main-box {
  position: relative;
  width: 100%;
  height: 243px;
}

main .content-area.third .wrap .col1 .main-box {
  background: url("../img/content3/bg_sns.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main .content-area.third .wrap .col1 .main-box ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 15%;
  width: 100%;
}

main .content-area.third .wrap .col1 .main-box ul li {
  width: 42px;
  height: 42px;
  margin: 0 4px;
}

main .content-area.third .wrap .col1 .main-box ul li:nth-child(1) a {
  background: url("../img/content3/ico_sns.png");
  background-size: cover;
  background-position: 0px 0;
  display: block;
  width: 100%;
  height: 100%;
}

main .content-area.third .wrap .col1 .main-box ul li:nth-child(2) a {
  background: url("../img/content3/ico_sns.png");
  background-size: cover;
  background-position: -42px 0;
  display: block;
  width: 100%;
  height: 100%;
}

main .content-area.third .wrap .col1 .main-box ul li:nth-child(3) a {
  background: url("../img/content3/ico_sns.png");
  background-size: cover;
  background-position: -84px 0;
  display: block;
  width: 100%;
  height: 100%;
}

main .content-area.third .wrap .col1 .main-box ul li:nth-child(4) a {
  background: url("../img/content3/ico_sns.png");
  background-size: cover;
  background-position: -126px 0;
  display: block;
  width: 100%;
  height: 100%;
}

main .content-area.third .wrap .col1 .main-box ul li:nth-child(5) a {
  background: url("../img/content3/ico_sns.png");
  background-size: cover;
  background-position: -168px 0;
  display: block;
  width: 100%;
  height: 100%;
}

main .content-area.third .wrap .col1 .main-box ul li:nth-child(6) a {
  background: url("../img/content3/ico_sns.png");
  background-size: cover;
  background-position: -210px 0;
  display: block;
  width: 100%;
  height: 100%;
}

main .content-area.third .wrap .col2 h2 {
  overflow: hidden;
}

main .content-area.third .wrap .col2 h2 a {
  float: right;
  font-size: 14px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0;
}

main .content-area.third .wrap .col2 .main-box {
  border: 1px solid #dadada;
  background: #fbfbfb;
  padding: 22px 24px;
  box-sizing: border-box;
}

main .content-area.third .wrap .col2 .main-box .box-header {
  overflow: hidden;
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d6dd;
}

main .content-area.third .wrap .col2 .main-box .box-header .img-area {
  float: left;
  display: inline-block;
}

main .content-area.third .wrap .col2 .main-box .box-header span {
  display: inline-block;
  padding-top: 15px;
  font-weight: bold;
}

main .content-area.third .wrap .col2 .main-box .box-header a {
  float: right;
}

main .content-area.third .wrap .col2 .main-box .box-content {
  display: flex;
  margin: 20px -5px 10px;
}

main .content-area.third .wrap .col2 .main-box .box-content .count {
  padding: 0 5px 10px;
  flex-basis: 50%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

main .content-area.third .wrap .col2 .main-box .box-content .count.left {
  border-right: 1px solid #d5d6dd;
}

main .content-area.third .wrap .col2 .main-box .box-content .count.left span {
  background: #dc6373;
}

main .content-area.third .wrap .col2 .main-box .box-content .count.right span {
  background: #349039;
}

main .content-area.third .wrap .col2 .main-box .box-content .count span {
  display: block;
  padding: 8px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
}

main .content-area.third .wrap .col3 .main-box, main .content-area.third .wrap .col4 .main-box {
  border: 1px solid #d5d6dd;
}

main .content-area.third .wrap .col3 .main-box .img-area, main .content-area.third .wrap .col4 .main-box .img-area {
  height: 75%;
  background: url("../img/content3/hot_issues01.png");
  background-size: cover;
}

main .content-area.third .wrap .col3 .main-box .text-area, main .content-area.third .wrap .col4 .main-box .text-area {
  padding: 17px 10px 0;
  text-align: center;
}

main .content-area.third .wrap .col4 h2 {
  text-align: right;
}

main .content-area.third .wrap .col4 h2 a {
  font-size: 14px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0;
}

main .content-area.third .wrap .col4 .main-box .img-area {
  background: url("../img/content3/hot_issues02.png");
  background-size: cover;
}

main .content-area.fourth {
  margin-top: 60px;
  padding: 30px 0;
  background: #eaebed;
}

main .content-area.fourth .wrap ul {
  display: flex;
  justify-content: space-around;
}

main .content-area.fourth .wrap ul li {
  width: 130px;
}

main .content-area.fourth .wrap ul li:nth-child(1) a div {
  background-image: url("../img/content4/ico_part.png");
  background-size: cover;
  background-position: 0px 0;
}

main .content-area.fourth .wrap ul li:nth-child(2) a div {
  background-image: url("../img/content4/ico_part.png");
  background-size: cover;
  background-position: -86px 0;
}

main .content-area.fourth .wrap ul li:nth-child(3) a div {
  background-image: url("../img/content4/ico_part.png");
  background-size: cover;
  background-position: -172px 0;
}

main .content-area.fourth .wrap ul li:nth-child(4) a div {
  background-image: url("../img/content4/ico_part.png");
  background-size: cover;
  background-position: -258px 0;
}

main .content-area.fourth .wrap ul li:nth-child(5) a div {
  background-image: url("../img/content4/ico_part.png");
  background-size: cover;
  background-position: -344px 0;
}

main .content-area.fourth .wrap ul li:nth-child(6) a div {
  background-image: url("../img/content4/ico_part.png");
  background-size: cover;
  background-position: -430px 0;
}

main .content-area.fourth .wrap ul li:nth-child(7) a div {
  background-image: url("../img/content4/ico_part.png");
  background-size: cover;
  background-position: -516px 0;
}

main .content-area.fourth .wrap ul li:nth-child(8) a div {
  background-image: url("../img/content4/ico_part.png");
  background-size: cover;
  background-position: -602px 0;
}

main .content-area.fourth .wrap ul li:nth-child(9) a div {
  background-image: url("../img/content4/ico_part.png");
  background-size: cover;
  background-position: -688px 0;
}

main .content-area.fourth .wrap ul li:nth-child(10) a div {
  background-image: url("../img/content4/ico_part.png");
  background-size: cover;
  background-position: -774px 0;
}

main .content-area.fourth .wrap ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

main .content-area.fourth .wrap ul li a div {
  width: 86px;
  height: 86px;
  margin: 0 22px;
  background-color: white;
  border-radius: 50%;
}

main .content-area.fourth .wrap ul li a p {
  text-align: center;
  color: black;
  line-height: 1.2;
  margin: 10px 0 0;
}

main .content-area.fifth {
  margin-top: 60px;
  height: 276px;
}

main .content-area.fifth .wrap {
  display: flex;
}

main .content-area.fifth .wrap .col1 {
  flex-basis: 17.14%;
}

main .content-area.fifth .wrap .col1 ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

main .content-area.fifth .wrap .col1 ul li {
  width: 87.7%;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

main .content-area.fifth .wrap .col1 ul li.on {
  width: 94.17%;
}

main .content-area.fifth .wrap .col1 ul li a {
  position: relative;
  display: block;
  padding: 0 30px;
  height: 52px;
  line-height: 52px;
  text-align: left;
  border-radius: 20px 0;
  background: #e3edf4;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -2px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

main .content-area.fifth .wrap .col1 ul li a.on {
  background: #1769ab;
  color: white;
}

main .content-area.fifth .wrap .col1 ul li a.on:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  margin: auto 0;
  right: 20px;
  background-position: -136px -35px;
  background-image: url("../img/sp_main.png");
  z-index: 5;
}

main .content-area.fifth .wrap .col1 ul li a:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 22px;
  height: 2px;
  margin: auto 0;
  background-position: -154px -41px;
  background-image: url("../img/sp_main.png");
  z-index: 5;
}

main .content-area.fifth .wrap .col2 {
  flex-basis: calc( 100% - 17.14%);
}

main .content-area.fifth .wrap .col2 .notice, main .content-area.fifth .wrap .col2 .test-information {
  display: flex;
}

main .content-area.fifth .wrap .col2 .notice li, main .content-area.fifth .wrap .col2 .test-information li {
  width: 20%;
  margin-left: 5%;
  position: relative;
  border-bottom: 1px solid black;
}

main .content-area.fifth .wrap .col2 .notice li a .date, main .content-area.fifth .wrap .col2 .test-information li a .date {
  display: inline-block;
  top: 0;
  left: 0;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #eaebed;
  font-weight: 600;
  font-size: 14px;
  line-height: 65px;
  text-align: center;
}

main .content-area.fifth .wrap .col2 .notice li a .dept, main .content-area.fifth .wrap .col2 .test-information li a .dept {
  display: inline-block;
  position: absolute;
  top: 22px;
  right: 0;
  font-size: 15px;
  color: #666;
}

main .content-area.fifth .wrap .col2 .notice li a .tit, main .content-area.fifth .wrap .col2 .test-information li a .tit {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  word-break: keep-all;
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  height: 84px;
  line-height: 28px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -2px;
  margin-top: 17px;
}

main .content-area.fifth .wrap .col2 .notice li a .desc, main .content-area.fifth .wrap .col2 .test-information li a .desc {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  word-break: keep-all;
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  height: 72px;
  line-height: 24px;
  margin-top: 18px;
  font-size: 16px;
  letter-spacing: -1px;
  color: #666;
  margin: 19px 0;
}

main .content-area.fifth .wrap .col2 .report {
  display: none;
  flex-wrap: wrap;
  height: 276px;
}

main .content-area.fifth .wrap .col2 .report li {
  display: flex;
  flex-basis: 45%;
  margin-left: 5%;
  border-bottom: 1px solid black;
  align-items: center;
}

main .content-area.fifth .wrap .col2 .report li a {
  width: 100%;
}

main .content-area.fifth .wrap .col2 .report li a .date {
  display: inline-block;
  top: 0;
  left: 0;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #eaebed;
  font-weight: 600;
  font-size: 14px;
  line-height: 65px;
  text-align: center;
}

main .content-area.fifth .wrap .col2 .report li a .tit {
  display: inline;
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -2px;
}

main .content-area.fifth .wrap .col2 .test-information {
  display: none;
}

main .content-area.sixth {
  margin-top: 60px;
}

main .content-area.sixth .wrap {
  padding-bottom: 30px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

main .content-area.sixth .wrap .col1, main .content-area.sixth .wrap .col2 {
  flex-basis: 48.8%;
}

main .content-area.sixth .wrap .col1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main .content-area.sixth .wrap .col1 h2 {
  overflow: hidden;
  width: 100%;
  height: 26px;
  line-height: 26px;
  margin: 0 0 20px;
}

main .content-area.sixth .wrap .col1 h2 a {
  float: right;
  font-size: 14px;
  font-weight: 400;
  height: 26px;
  line-height: 26px;
}

main .content-area.sixth .wrap .col1 .main-box {
  width: 47.54%;
  height: 243px;
}

main .content-area.sixth .wrap .col1 .main-box:nth-of-type(1) {
  background: url("../img/content6/colorful_daegu01.jpg");
  background-size: cover;
}

main .content-area.sixth .wrap .col1 .main-box:nth-of-type(2) {
  background: url("../img/content6/colorful_daegu02.jpg");
  background-size: cover;
}

main .content-area.sixth .wrap .col2 {
  position: relative;
  width: 48.8%;
}

main .content-area.sixth .wrap .col2 h2 {
  margin-bottom: 20px;
}

main .content-area.sixth .wrap .col2 .swiper {
  width: 100%;
  overflow: hidden;
}

main .content-area.sixth .wrap .col2 .swiper .swiper-wrapper {
  height: 243px;
}

main .content-area.sixth .wrap .col2 .swiper .swiper-wrapper .swiper-slide {
  float: left;
  width: 18.07vw;
  height: 243px;
  margin-left: 1.87vw;
}

main .content-area.sixth .wrap .col2 .swiper .swiper-wrapper .swiper-slide:nth-child(1) {
  margin-left: 0;
}

main .content-area.sixth .wrap .col2 .swiper .swiper-wrapper .swiper-slide:nth-child(1) {
  background: url("../img/content6/alarm1.jpg");
  background-size: cover;
}

main .content-area.sixth .wrap .col2 .swiper .swiper-wrapper .swiper-slide:nth-child(2) {
  background: url("../img/content6/alarm2.jpg");
  background-size: cover;
}

main .content-area.sixth .wrap .col2 .swiper .swiper-wrapper .swiper-slide:nth-child(3) {
  background: url("../img/content6/alarm3.jpg");
  background-size: cover;
}

main .content-area.sixth .wrap .col2 .swiper .swiper-wrapper .swiper-slide:nth-child(4) {
  background: url("../img/content6/alarm4.jpg");
  background-size: cover;
}

main .content-area.sixth .wrap .col2 .swiper .swiper-wrapper .swiper-slide:nth-child(5) {
  background: url("../img/content6/alarm5.jpg");
  background-size: cover;
}

main .content-area.sixth .wrap .col2 .swiper .swiper-wrapper .swiper-slide:nth-child(6) {
  background: url("../img/content6/alarm6.jpg");
  background-size: cover;
}

main .content-area.sixth .wrap .col2 .swiper .swiper-wrapper .swiper-slide:nth-child(7) {
  background: url("../img/content6/alarm7.jpg");
  background-size: cover;
}

main .content-area.sixth .wrap .col2 .swiper .swiper-wrapper .swiper-slide:nth-child(8) {
  background: url("../img/content6/alarm8.jpg");
  background-size: cover;
}

main .content-area.sixth .wrap .col2 .swiper .swiper-wrapper .swiper-slide:nth-child(9) {
  background: url("../img/content6/alarm9.jpg");
  background-size: cover;
}

main .content-area.sixth .wrap .col2 .swiper .swiper-wrapper .swiper-slide:nth-child(10) {
  background: url("../img/content6/alarm10.jpg");
  background-size: cover;
}

main .content-area.sixth .wrap .col2 .swiper .swiper-wrapper .swiper-slide:nth-child(11) {
  background: url("../img/content6/alarm11.jpg");
  background-size: cover;
}

main .content-area.sixth .wrap .col2 .swiper .swiper-wrapper .swiper-slide:nth-child(12) {
  background: url("../img/content6/alarm12.jpg");
  background-size: cover;
}

main .content-area.sixth .wrap .col2 .swiper .swiper-wrapper .swiper-slide:nth-child(13) {
  background: url("../img/content6/alarm13.jpg");
  background-size: cover;
}

main .content-area.sixth .wrap .col2 .swiper .swiper-wrapper .swiper-slide:nth-child(14) {
  background: url("../img/content6/alarm14.jpg");
  background-size: cover;
}

main .content-area.sixth .wrap .col2 .swiper .swiper-wrapper .swiper-slide:nth-child(15) {
  background: url("../img/content6/alarm15.jpg");
  background-size: cover;
}

main .content-area.sixth .wrap .col2 .swiper .swiper-wrapper .swiper-slide:nth-child(16) {
  background: url("../img/content6/alarm16.jpg");
  background-size: cover;
}

main .content-area.sixth .wrap .col2 .swiper .swiper-wrapper .swiper-slide:nth-child(17) {
  background: url("../img/content6/alarm17.jpg");
  background-size: cover;
}

main .content-area.sixth .wrap .col2 .btn-group {
  position: absolute;
  top: 0;
  right: 0;
  width: 149px;
}

main .content-area.sixth .wrap .col2 .btn-group #six-prev {
  width: 31px;
  height: 31px;
  background-position: -112px 0;
}

main .content-area.sixth .wrap .col2 .btn-group #six-next {
  width: 31px;
  height: 31px;
  background-position: -217px 0;
}

main .content-area.sixth .wrap .col2 .btn-group .btn-count.six {
  width: 52px;
  height: 31px;
}

main .content-area.sixth .wrap .col2 .btn-group .btn-stop.six {
  width: 33px;
  height: 31px;
  float: left;
}

main .content-area.sixth .wrap .col2 .btn-group .btn-stop.six span {
  width: 31px;
  height: 31px;
  margin: 0;
  background-position: -182px 0;
}

main .content-area.seventh {
  margin-top: 60px;
}

main .content-area.seventh .wrap {
  display: flex;
  justify-content: space-between;
}

main .content-area.seventh .wrap .col1, main .content-area.seventh .wrap .col2 {
  flex-basis: 48.8%;
}

main .content-area.seventh .wrap .col1 {
  background: #eff7fb;
  padding: 30px 80px 0;
  box-sizing: border-box;
}

main .content-area.seventh .wrap .col1 h2 {
  text-align: center;
}

main .content-area.seventh .wrap .col1 .swiper {
  position: relative;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide ul {
  display: flex;
  flex-wrap: wrap;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide ul li {
  width: 25%;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide ul li a {
  display: block;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide ul li a .img-box {
  width: 82px;
  height: 82px;
  margin: 0 auto;
  border-radius: 33px;
  background: white;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide ul li a span {
  margin-top: 8px;
  width: 100%;
  height: 38px;
  text-align: center;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  word-break: keep-all;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  display: inline-block;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: -1px;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(1) ul li:nth-child(1) a .img-box {
  background-image: url("../img/content7/img1.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(1) ul li:nth-child(2) a .img-box {
  background-image: url("../img/content7/img2.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(1) ul li:nth-child(3) a .img-box {
  background-image: url("../img/content7/img3.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(1) ul li:nth-child(4) a .img-box {
  background-image: url("../img/content7/img4.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(1) ul li:nth-child(5) a .img-box {
  background-image: url("../img/content7/img5.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(1) ul li:nth-child(6) a .img-box {
  background-image: url("../img/content7/img6.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(1) ul li:nth-child(7) a .img-box {
  background-image: url("../img/content7/img7.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(1) ul li:nth-child(8) a .img-box {
  background-image: url("../img/content7/img8.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(2) ul li:nth-child(1) a .img-box {
  background-image: url("../img/content7/img9.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(2) ul li:nth-child(2) a .img-box {
  background-image: url("../img/content7/img10.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(2) ul li:nth-child(3) a .img-box {
  background-image: url("../img/content7/img11.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(2) ul li:nth-child(4) a .img-box {
  background-image: url("../img/content7/img12.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(2) ul li:nth-child(5) a .img-box {
  background-image: url("../img/content7/img13.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(2) ul li:nth-child(6) a .img-box {
  background-image: url("../img/content7/img14.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(2) ul li:nth-child(7) a .img-box {
  background-image: url("../img/content7/img15.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(2) ul li:nth-child(8) a .img-box {
  background-image: url("../img/content7/img16.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(3) ul li:nth-child(1) a .img-box {
  background-image: url("../img/content7/img17.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(3) ul li:nth-child(2) a .img-box {
  background-image: url("../img/content7/img18.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(3) ul li:nth-child(3) a .img-box {
  background-image: url("../img/content7/img19.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(3) ul li:nth-child(4) a .img-box {
  background-image: url("../img/content7/img20.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(3) ul li:nth-child(5) a .img-box {
  background-image: url("../img/content7/img21.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(3) ul li:nth-child(6) a .img-box {
  background-image: url("../img/content7/img22.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(3) ul li:nth-child(7) a .img-box {
  background-image: url("../img/content7/img23.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:nth-child(3) ul li:nth-child(8) a .img-box {
  background-image: url("../img/content7/img24.png");
  background-size: cover;
}

main .content-area.seventh .wrap .col1 .swiper .swiper-wrapper .swiper-slide:not(:first-child) {
  display: none;
}

main .content-area.seventh .wrap .col1 .swiper .btn-prev {
  position: absolute;
  background-position: 0 -54px;
  top: calc(50% - 15px);
  left: -60px;
  transform: translateY(-50%);
}

main .content-area.seventh .wrap .col1 .swiper .btn-next {
  position: absolute;
  background-position: -54px -54px;
  top: calc(50% - 15px);
  right: -60px;
  transform: translateY(-50%);
}

main .content-area.seventh .wrap .col1 .swiper .btn-custom-stop {
  position: absolute;
  width: 31px;
  height: 31px;
  top: -45px;
  right: -20px;
  background-image: url("../img/sp_main.png");
  background-position: -287px 0;
}

main .content-area.seventh .wrap .col1 .swiper .btn-more {
  position: absolute;
  width: 31px;
  height: 31px;
  top: -45px;
  right: -53px;
  background-image: url("../img/sp_main.png");
  background-position: -322px 0;
}

main .content-area.seventh .wrap .col2 {
  padding: 35px;
  box-sizing: border-box;
  border: 1px solid #d5d6dd;
}

main .content-area.seventh .wrap .col2 > ul {
  width: 100%;
  display: flex;
  margin-bottom: 16px;
}

main .content-area.seventh .wrap .col2 > ul li {
  position: relative;
  flex-basis: 25%;
  height: 54px;
  border: 1px solid #d5d6dd;
  border-bottom: 1px solid #17b464;
  border-left: 0;
  box-sizing: border-box;
  transition: .3s;
  cursor: pointer;
}

main .content-area.seventh .wrap .col2 > ul li.active {
  border-bottom: 53px solid #17b464;
}

main .content-area.seventh .wrap .col2 > ul li.active h2 {
  color: white;
}

main .content-area.seventh .wrap .col2 > ul li.active:nth-child(1) h2:before {
  background-position: -112px -85px;
}

main .content-area.seventh .wrap .col2 > ul li.active:nth-child(2) h2:before {
  background-position: -138px -85px;
}

main .content-area.seventh .wrap .col2 > ul li.active:nth-child(3) h2:before {
  background-position: -168px -85px;
}

main .content-area.seventh .wrap .col2 > ul li.active:nth-child(4) h2:before {
  background-position: -197px -85px;
}

main .content-area.seventh .wrap .col2 > ul li:first-child {
  border-left: 1px solid #d5d6dd;
}

main .content-area.seventh .wrap .col2 > ul li h2 {
  position: absolute;
  top: calc(27px - 12.52px);
  text-align: center;
  margin: 0;
  font-size: 17px;
}

main .content-area.seventh .wrap .col2 > ul li h2:before {
  content: '';
  margin: -5px 5px 0 0;
  vertical-align: middle;
  display: inline-block;
  width: 22px;
  height: 27px;
  background: url("../img/sp_main.png");
  background-position: -112px -54px;
}

main .content-area.seventh .wrap .col2 > ul li:nth-child(2) h2:before {
  width: 26px;
  background-position: -138px -54px;
}

main .content-area.seventh .wrap .col2 > ul li:nth-child(3) h2:before {
  width: 25px;
  background-position: -168px -54px;
}

main .content-area.seventh .wrap .col2 > ul li:nth-child(4) h2:before {
  width: 25px;
  background-position: -197px -54px;
}

main .content-area.seventh .wrap .col2 .menu ul, main .content-area.seventh .wrap .col2 .people ul, main .content-area.seventh .wrap .col2 .buisness ul, main .content-area.seventh .wrap .col2 .tour ul {
  overflow: hidden;
}

main .content-area.seventh .wrap .col2 .menu ul li, main .content-area.seventh .wrap .col2 .people ul li, main .content-area.seventh .wrap .col2 .buisness ul li, main .content-area.seventh .wrap .col2 .tour ul li {
  position: relative;
  float: left;
  width: calc(33.33% - 20px);
  padding: 14px 0 13px 12px;
  border-bottom: 1px dashed #c2bbb2;
  box-sizing: border-box;
}

main .content-area.seventh .wrap .col2 .menu ul li:not(:nth-child(3n+1)), main .content-area.seventh .wrap .col2 .people ul li:not(:nth-child(3n+1)), main .content-area.seventh .wrap .col2 .buisness ul li:not(:nth-child(3n+1)), main .content-area.seventh .wrap .col2 .tour ul li:not(:nth-child(3n+1)) {
  margin-left: 30px;
}

main .content-area.seventh .wrap .col2 .menu ul li:before, main .content-area.seventh .wrap .col2 .people ul li:before, main .content-area.seventh .wrap .col2 .buisness ul li:before, main .content-area.seventh .wrap .col2 .tour ul li:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 3px;
  bottom: 0;
  width: 2px;
  height: 2px;
  margin: auto 0;
  background: #333;
}

main .content-area.seventh .wrap .col2 .menu ul li a, main .content-area.seventh .wrap .col2 .people ul li a, main .content-area.seventh .wrap .col2 .buisness ul li a, main .content-area.seventh .wrap .col2 .tour ul li a {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -1px;
  white-space: nowrap;
}

main .content-area.seventh .wrap .col2 .people, main .content-area.seventh .wrap .col2 .buisness, main .content-area.seventh .wrap .col2 .tour {
  display: none;
}

main .content-area.eighth {
  border-top: 1px solid #d5d6dd;
  margin-top: 60px;
}

main .content-area.eighth .wrap {
  padding: 20px 0 20px 180px;
  box-sizing: border-box;
}

main .content-area.eighth .wrap ul {
  overflow: hidden;
}

main .content-area.eighth .wrap ul li {
  float: left;
}

main .content-area.eighth .wrap ul li a {
  display: block;
  position: relative;
  width: 184px;
  margin: 2px 10px;
  padding: 10px 15px;
  background: #ebecf1;
  line-height: 30px;
  text-align: center;
}

main .content-area.eighth .wrap ul li a:after {
  margin-right: 0;
}

main .content-area.nineth {
  height: 60px;
  background: #1c293c;
  box-sizing: border-box;
}

main .content-area.nineth .wrap > ul > li {
  float: left;
  position: relative;
  padding-left: 25px;
  width: 25%;
  height: 60px;
  line-height: 60px;
  font-size: 15px;
  color: white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  cursor: pointer;
  box-sizing: border-box;
}

main .content-area.nineth .wrap > ul > li:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  width: 8px;
  height: 8px;
  margin: auto;
  border: 1px solid #ddd;
  border-width: 0 1px 1px 0;
  transform: translateY(-25%) rotate(45deg);
  transition: all .3s;
}

main .content-area.nineth .wrap > ul > li:not(:first-child) {
  border-left: 0;
}

main .content-area.nineth .wrap > ul > li:nth-child(3) .drag-box {
  overflow-y: auto;
}

main .content-area.nineth .wrap > ul > li .drag-box {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  overflow-y: scroll;
  border: 1px solid #d5d6dd;
  box-sizing: border-box;
  background: white;
  transition: .7s;
  visibility: hidden;
}

main .content-area.nineth .wrap > ul > li .drag-box.active {
  height: 300px;
  top: -300px;
  z-index: 1;
  visibility: visible;
}

main .content-area.nineth .wrap > ul > li .drag-box ul {
  padding: 6px 0;
  width: 100%;
  box-sizing: border-box;
}

main .content-area.nineth .wrap > ul > li .drag-box ul li {
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  padding: 0;
}

main .content-area.nineth .wrap > ul > li .drag-box ul li a {
  display: block;
  width: 100%;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding: 3px 15px;
  box-sizing: border-box;
}

#footer {
  background: #ebecf1;
  line-height: 1.3;
}

#footer .wrap .footer-t {
  padding: 20px 0;
  box-sizing: border-box;
}

#footer .wrap .footer-t ul {
  overflow: hidden;
}

#footer .wrap .footer-t ul li {
  float: left;
  position: relative;
  display: inline-block;
}

#footer .wrap .footer-t ul li:first-child a {
  padding-left: 0;
}

#footer .wrap .footer-t ul li:not(:first-child):before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 2px;
  height: 2px;
  margin: auto 0;
  background: #585859;
}

#footer .wrap .footer-t ul li a {
  display: block;
  padding: 5px 10px;
  font-size: 15px;
  color: #333333;
  letter-spacing: -1px;
}

#footer .wrap .footer-t ul li a strong {
  color: #333333;
  letter-spacing: -1px;
}

#footer .wrap .footer-b {
  position: relative;
  margin: 0 auto;
  padding: 25px 250px 30px 186px;
  border-top: 1px solid #d5d6dd;
}

#footer .wrap .footer-b .footer-logo {
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
  width: 156px;
  height: 44px;
  background: url("../img/logo_footer.png") no-repeat 0 0;
  color: transparent;
}

#footer .wrap .footer-b .footer-text {
  font-size: 14px;
}

#footer .wrap .footer-b .footer-text p.address {
  margin: 0;
}

#footer .wrap .footer-b .footer-text .copy {
  margin: 3px 0 0 0;
  color: #888;
}

#footer .wrap .footer-b .footer-mark {
  position: absolute;
  top: 25px;
  right: 0;
}

#footer .wrap .footer-b .footer-mark .callcenter {
  float: left;
  width: 140px;
  height: 20px;
  margin: 15px 20px 0 0;
  background: url("../img/img_120.png") no-repeat 0 0;
  color: transparent;
}

.btn-group {
  position: absolute;
  width: 187px;
  height: 50px;
  overflow: hidden;
}

.btn-prev {
  position: relative;
  width: 52px;
  height: 50px;
  background: url("../img/sp_main.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  float: left;
  cursor: pointer;
}

.btn-count {
  position: relative;
  display: flex;
  align-items: center;
  width: 42.47px;
  height: 50px;
  padding: 0 10px;
  float: left;
  box-sizing: border-box;
}

.btn-count span {
  font-size: 15px;
}

.btn-count span:nth-child(1) {
  color: red;
}

.btn-next {
  position: relative;
  width: 52px;
  height: 50px;
  background: url("../img/sp_main.png");
  background-position: -56px 0;
  background-repeat: no-repeat;
  float: left;
  cursor: pointer;
}

.btn-stop {
  position: relative;
  width: 40px;
  height: 50px;
  float: right;
  cursor: pointer;
}

.btn-stop span {
  display: block;
  width: 8px;
  height: 14px;
  margin: 18px 16px;
  background: url("../img/sp_main.png");
  background-position: -124px -35px;
  background-repeat: no-repeat;
}

.btn-stop.active span {
  background-position: -112px -35px;
}

.lst {
  position: absolute;
  top: 30px;
  right: -10px;
  z-index: 10;
}

.lst ul {
  padding: 6px 0;
  border: 1px solid #d5d6dd;
  border-radius: 3px;
  background-color: white;
}

.lst ul li {
  padding: 4px 15px;
  background-color: white;
}

.lst ul li:hover {
  background-color: #E0F0FF;
}

.lst ul li a {
  display: block;
  width: 100%;
  color: #444;
}

.lst:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -11px;
  right: 16px;
  height: 0;
  border: 11px solid transparent;
  border-top: 0;
  border-bottom-color: #b6babe;
}

.lst:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -10px;
  right: 16px;
  height: 0;
  border: 11px solid transparent;
  border-top: 0;
  border-bottom-color: #fff;
}

h2 {
  width: 100%;
  margin-bottom: 15px;
  font-size: 20px;
  letter-spacing: -2px;
}

a.href-icon:after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: -4px 4px 0;
  vertical-align: middle;
  background: url("../img/sp_main.png");
  background-position: -209px -35px;
}
